<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Mon, 30 Dec 2024 14:34:29 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-4/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-4/"&gt;👉Ordina adesso!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5t1cLDOuGPg7IvYlEeKFhn</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4DwqvuVk1d34LuyBOQB5tu/18c15418d9beb331180c108498280e4d/it_DF_Clsh-Comics_Inbox_vol4DF_CLASH-COMICS_BOOKS-OF-CLASH-VOL-4-NewsTab-CR.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 08 Nov 2024 16:35:35 +0000</pubDate>
    </item>
    <item>
      <title>La magia di Clashmas</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/it/news/2qEavBtU9OZAfu3TD4wfQK"&gt;👉Leggi👈&lt;/a&gt; -- &lt;a href="https://youtu.be/SwrPvXraSP4"&gt;👉Guarda👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5suFus59IFP1rLuS27cx2t</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/799wnc5h7NLnCJ3Yp1E6xU/33733526b2b7552e33f3e09d939b28c9/SUP3969_Season_66_Season_Carousel_Image-960x764.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 02 Dec 2024 09:04:35 +0000</pubDate>
    </item>
    <item>
      <title>Una nuova truppa delle torri: lo chef reale!</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/it/news/6LRgiiEG8lo6AqHQF5jsZL"&gt;👉Più info👈&lt;/a&gt; -- &lt;a href="https://www.youtube.com/shorts/JUEjO3NCSlI"&gt;👉Watch👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3m3sHBUCk93JRuzW6egIIs</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3YJsV45LLIhkNmzt8hHDaI/b6f49d07c8936c1ea477ac8d55c72f2a/Royal_Chef_Tower_Troop_FINAL.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 16 Dec 2024 10:22:48 +0000</pubDate>
    </item>
  </channel>
</rss>
