<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Mon, 13 May 2024 14:33:13 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/it/news/7tqkPiz0SYWXTBzgkFDCcY</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/it/news/7tqkPiz0SYWXTBzgkFDCcY"&gt;👉LEGGI👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4zDV7F53jQBBlkpJ3hwiGM</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/tJgIVaDGiFjqNxAUiScrk/ed80eef7b961a5f44aefe864380d7a78/IT_CR-Roadmap-2024-banner.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 30 Nov 2023 14:59:13 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 99.50%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 30M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7tbUYKBnU2S8LrDIZX4tO7/09b09c2991f20c3b92ce0ed2150ece7e/Clash_royale-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3JEcSAqUol3WyaU9VTzMJL/01f56d0e6e648ae6cc414be002f44d13/Clash_royale-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/43CuYLH5eMclYBfvzQavmb/6dd79043c779bad487ce0a8dd3910958/Clash_royale-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/6kpNc36B59OnJABz6cjR1B/c45d5c49badd8a0bfc32f95d89e3b7eb/Clash_royale-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Combatti con la squadra! Preordina il nuovo gioco globale di Supercell!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">67vMsuhYiLJDDtlRaI3bWh</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4BuKHgqfMUUHgdXhTc06Cz/a8831a51ce99b7ae0f39b848d2e0e751/royal-swirl.webp?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:03:59 +0000</pubDate>
    </item>
    <item>
      <title>STAGIONE DI MAGGIO</title>
      <link>https://clashroyale.inbox.supercell.com/#/it/news/2Vd5pMIios9xUcHXAytsWF</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/it/news/2Vd5pMIios9xUcHXAytsWF"&gt;👉LEGGI👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3YwqrSnOlmZY4Z4lguIibl</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/67jyUpwT83ECTBYlDLGaM5/d319ebe0abf0418d805bc9813feae2f6/CR_S59_Season_Carousel_Image.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 06 May 2024 09:00:03 +0000</pubDate>
    </item>
  </channel>
</rss>
