<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Tue, 11 Jun 2024 05:34:11 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/it/news/7tqkPiz0SYWXTBzgkFDCcY</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/it/news/7tqkPiz0SYWXTBzgkFDCcY"&gt;👉LEGGI👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4zDV7F53jQBBlkpJ3hwiGM</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/tJgIVaDGiFjqNxAUiScrk/ed80eef7b961a5f44aefe864380d7a78/IT_CR-Roadmap-2024-banner.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 30 Nov 2023 14:59:13 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-3/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-3/"&gt;👉Acquista👈&lt;/a&gt;</description>
      <guid isPermaLink="false">yB7TCmDIExMubeOewgmPH</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7C8MqTPcLF06uqNt9rGvBk/38a800c4833e105760e52f90a5a265b6/BOC_CR_NewsTab_Vol3_NoText__1_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 28 May 2024 17:00:03 +0000</pubDate>
    </item>
    <item>
      <title>STAGIONE DI GIUGNO</title>
      <link>https://clashroyale.inbox.supercell.com/#/it/news/2ba2X3NUqVQjdY8f5dXKhN</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/it/news/2ba2X3NUqVQjdY8f5dXKhN"&gt;👉LEGGI👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3UGuqlWCqBaeBmDw4B4iR8</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/rpAOE5Fcy5fqRSjdNcs2K/2556a5972bd3f5e5eff1a6be0a8a1197/CR_S60_Season_Carousel_Image.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 03 Jun 2024 09:10:12 +0000</pubDate>
    </item>
  </channel>
</rss>
