<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ru</language>
    <lastBuildDate>Tue, 08 Oct 2024 05:35:28 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/brawlstars"&gt;👉YouTube👈&lt;/a&gt; -- &lt;a href="https://tiktok.com/@brawlstars"&gt;👉TikTok👈&lt;/a&gt;</description>
      <guid isPermaLink="false">YAqSsReAyYiPxBEX32CEJmXyTGb0S5Ur1YMsyrNLEJI</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:25 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/KEwxr8I4Gl8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KEwxr8I4Gl8"&gt;👉Brawl Talk!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2kHnQSqjuGk3bnciswwcOO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3dgIju8ge3fLMrRFn94xF1/c19c3f8ae3cd51b4bec83ffbe7bcfe85/0822_Brawl_Talk_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 23 Aug 2024 08:17:51 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/Q8D95ErQbjk?si=Cu89Kgl0B5rQ5TfV</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/Q8D95ErQbjk?si=Cu89Kgl0B5rQ5TfV"&gt;👉Кэндзи👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1NPTT643S0qTrA4H6CC4CQ</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7gurwS0QUywZziyBDmOCgY/2c29cbb864f8b23a31562a2c53cc58e1/kenji-animation-800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 26 Sep 2024 10:35:35 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/OiN_L7jrM78</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/OiN_L7jrM78"&gt;👉СМОТРЕТЬ!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5onoF2pjANwkfFVsDaM52x</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5xw9cIOyvIjKs4H4UXI1Zu/dc5ddaa8ed6e8769161eba420365853f/1003_Scary_Tales_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 03 Oct 2024 14:26:02 +0000</pubDate>
    </item>
  </channel>
</rss>
