<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Thu, 23 May 2024 23:33:20 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.facebook.com/groups/2167772736880183/?source_id=131664247349353</link>
      <description>&lt;br&gt;
&lt;a href="https://www.facebook.com/groups/2167772736880183/?source_id=131664247349353"&gt;👉Facebook !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">727h1Hy_xmgfpiFEQAfNTNiwEEzeav_Fji_xx5nWd7k</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/ZQQaZm8ay8PsiWeNc6QIWq1VtcTICsbO0XHfGb6nr2U/50b233b5e8af11fa3195862df51ddbd6/GroupeFacebookfr.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.twitch.tv/videos/2005606352?t=00h30m55s</link>
      <description>&lt;br&gt;
&lt;a href="https://www.twitch.tv/videos/2005606352?t=00h30m55s"&gt;👉Regarde👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4SD0ORFSXYTjCVJRqBllIe</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6J29AzP4P4vQafYSv32OVl/11e701e820c799517b0b5cc1ebf1b840/CLASHUNLEASHED-INBOX.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sat, 16 Dec 2023 13:04:49 +0000</pubDate>
    </item>
    <item>
      <title>La victoire a un nom : Haaland !</title>
      <link>https://youtu.be/YWQjWdQ6tOA</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/YWQjWdQ6tOA"&gt;👉Regarder👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5Womi9S7zUeyilzRjvrRF4</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Rkw4DwwBuknvglDiO5Xxp/71f471ef9051d50d530b441c94b5534c/carousel_9x16_Haaland.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Apr 2024 05:00:50 +0000</pubDate>
    </item>
    <item>
      <title>Événement ENCORE PLUS</title>
      <link>https://youtu.be/q4A_XVK5JpU</link>
      <description>&lt;h1&gt;PROGRESS: 25.10%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/21rMdUL5EjvSKNDnsV8VDo/7ead7236b0108c44117e615d3e049d4b/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/21rMdUL5EjvSKNDnsV8VDo/7ead7236b0108c44117e615d3e049d4b/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/21rMdUL5EjvSKNDnsV8VDo/7ead7236b0108c44117e615d3e049d4b/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2S3m4MxYEDmrixDTt2W0YO/031d43286985775536b35b288a247e96/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6lzoNDe8oTr7XNkQ8HITYa/b345830d956a1001acd0a0163c483dc4/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtu.be/q4A_XVK5JpU"&gt;👉Regarder la vidéo👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2MDh1l3esaLMquMxH0IypR</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/1kECoixSFMiPreWouo2QDJ/10e49a8684fcb6e77813547d225b7fa1/BG_footballfield.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 23 May 2024 08:01:45 +0000</pubDate>
    </item>
  </channel>
</rss>
