<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Sat, 05 Oct 2024 20:30:53 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.facebook.com/groups/2167772736880183/?source_id=131664247349353</link>
      <description>&lt;br&gt;
&lt;a href="https://www.facebook.com/groups/2167772736880183/?source_id=131664247349353"&gt;👉Facebook !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">727h1Hy_xmgfpiFEQAfNTNiwEEzeav_Fji_xx5nWd7k</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/ZQQaZm8ay8PsiWeNc6QIWq1VtcTICsbO0XHfGb6nr2U/50b233b5e8af11fa3195862df51ddbd6/GroupeFacebookfr.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.twitch.tv/videos/2005606352?t=00h30m55s</link>
      <description>&lt;br&gt;
&lt;a href="https://www.twitch.tv/videos/2005606352?t=00h30m55s"&gt;👉Regarde👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4SD0ORFSXYTjCVJRqBllIe</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6J29AzP4P4vQafYSv32OVl/11e701e820c799517b0b5cc1ebf1b840/CLASHUNLEASHED-INBOX.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sat, 16 Dec 2023 13:04:49 +0000</pubDate>
    </item>
    <item>
      <title>Clash On - September Update</title>
      <link>https://youtu.be/UwYW9vuJ1Ho</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/UwYW9vuJ1Ho"&gt;👉Watch Now!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1VGw5lxE0K5R5U5IzNTN8A</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/3HGlnvEwpqcCmCaSChoPRU/611504bfdd5d14f9841b74ce66062f33/Carousel-Thumb-ClashOn.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 09 Sep 2024 08:31:51 +0000</pubDate>
    </item>
    <item>
      <title>Emotes, Nouveaux événements, et plus!</title>
      <link>https://youtu.be/h4tLJfOL6FA</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/h4tLJfOL6FA"&gt;👉Regardez!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6drXJSNx2QeFL8hyUX2I3k</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/NegCkrLTOBKpiJ8LyAM3m/348ab5478cde6f3eaa43dcc41eec1bd5/builder-carousel.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 25 Sep 2024 14:05:03 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/4jdzci4dsK0</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/4jdzci4dsK0"&gt;👉Regardez maintenant !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3BXOLvHxHOfNBbmwcgPZwn</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7wqGwEP99iMm3nJXxeXxfH/7b2782c3f7aa3cbfb94565437378143d/carousel-fr-clashoween.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 01 Oct 2024 08:00:05 +0000</pubDate>
    </item>
  </channel>
</rss>
