<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Mon, 02 Sep 2024 14:34:03 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.facebook.com/groups/2167772736880183/?source_id=131664247349353</link>
      <description>&lt;br&gt;
&lt;a href="https://www.facebook.com/groups/2167772736880183/?source_id=131664247349353"&gt;👉Facebook !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">727h1Hy_xmgfpiFEQAfNTNiwEEzeav_Fji_xx5nWd7k</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/ZQQaZm8ay8PsiWeNc6QIWq1VtcTICsbO0XHfGb6nr2U/50b233b5e8af11fa3195862df51ddbd6/GroupeFacebookfr.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.twitch.tv/videos/2005606352?t=00h30m55s</link>
      <description>&lt;br&gt;
&lt;a href="https://www.twitch.tv/videos/2005606352?t=00h30m55s"&gt;👉Regarde👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4SD0ORFSXYTjCVJRqBllIe</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6J29AzP4P4vQafYSv32OVl/11e701e820c799517b0b5cc1ebf1b840/CLASHUNLEASHED-INBOX.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sat, 16 Dec 2023 13:04:49 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/ak6acH-vhvc</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ak6acH-vhvc"&gt;👉Regarder ! 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7dcRkF5511e0jIIBoD5iBq</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/1mjjc3VoFIqXXJUYVPEEB4/2d26609a4876c7b17330eec6a53d04b5/CoC_SC017_TTRPG_EN_860x1320_Still_Inbox_v03_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Sep 2024 08:00:03 +0000</pubDate>
    </item>
  </channel>
</rss>
