<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Hayday - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Hayday inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fi</language>
    <lastBuildDate>Tue, 28 May 2024 18:36:52 +0000</lastBuildDate>
    <item>
      <title>Päivän tapahtuma!</title>
      <link>hayday://OpenEventBoard</link>
      <description>&lt;br&gt;
&lt;a href="hayday://OpenEventBoard"&gt;👉Lisätietoja👈&lt;/a&gt;</description>
      <guid isPermaLink="false">C_cuHmmb-LEriPwwH2WQfwnsVGVO19O220gLd10AHVw</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/cRcj4pkDW6Rh5ThtDKjVYxZNHJcNMJ9ukUsj4Qvsr1w/cc11b4a0a60932be2be4732bfa32eef7/1379298962_1625649229.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 12 Sep 2023 09:48:04 +0000</pubDate>
    </item>
  </channel>
</rss>
