<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ja</language>
    <lastBuildDate>Mon, 10 Jun 2024 08:36:49 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://bitly.com/31sgyrY</link>
      <description>&lt;br&gt;
&lt;a href="https://bitly.com/31sgyrY"&gt;👉チャンネルはこちら👈&lt;/a&gt;</description>
      <guid isPermaLink="false">jBNys0tiXpY_zt-b8BDEyoh19ODDXI2TyEXlrsqF3Zc</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/ZbwMgq0EbG5_8fbxR1Npo6rlJSWo_POGi4rsE279Xcs/17a77c1fec7390db104474aae7c6e702/YouTube______.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 24 Feb 2023 11:21:01 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://supr.cl/tiktok-jp-inbox</link>
      <description>&lt;br&gt;
&lt;a href="https://supr.cl/tiktok-jp-inbox"&gt;👉アカウントはこちら👈&lt;/a&gt;</description>
      <guid isPermaLink="false">jWyp_7IB-2UcWMiAqfxB6UaV5zRH3eN4ROs7-WGhJv0</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/BcPkHPd9UQWXLjItLpWjdE-WcqveMtYZyUuhwXEnU3I/555a32fb6268ed25564535255b6f9249/1484437668_1671761259.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 24 Feb 2023 11:20:33 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://twitter.com/brawlstarsjp"&gt;👉X(Twitter）👈&lt;/a&gt; -- &lt;a href="https://www.instagram.com/brawlstars_jp/"&gt;👉Instagram👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4J1OjyZ53m2q7AQLzniVtW</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4yGvOa3Ybz9LOg7f7djBc4/c65adfbc71592aba1ad9f9f74b57d7bc/20240131_BST_inbox_thumbnail.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Feb 2024 04:10:39 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/CoUwB7-ITBQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/CoUwB7-ITBQ"&gt;👉ブロスタトーク👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2azxxVt6rp53SUtQ5J9dqz</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5ImvZ7Iw3Oxw62gqyQyS4w/eddfc79cff055ae6843b7137f034220b/0419_BT_Mutations_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 19 Apr 2024 12:17:08 +0000</pubDate>
    </item>
    <item>
      <title>次回のコミュニティゲームモード！</title>
      <guid isPermaLink="false">6oZxpgV7GjdU1J0sPfhMXw</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/FBLZNSImGcYbHtuQwUJp1/5e5f521c32efd5ed0615115313c15ca2/0522_Game_modes_poll_volley_basket_duels_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sun, 26 May 2024 14:40:22 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉ドラコ！👈&lt;/a&gt; -- &lt;a href="https://youtu.be/R1hiRWjRJVk?si=q0juJbkTmMhX3dDp"&gt;👉見る！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">76PQqAcT7zm1S6mxjZj66j</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6mYtFCRguSb94BP7QFcg3B/c5f48895f29ef685a1c10e09656ae091/0530_Draco_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 04 Apr 2024 09:05:56 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉サイバーブロスタ👈&lt;/a&gt; -- &lt;a href="https://youtu.be/3aPTRpACm_I"&gt;👉見る！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XQIKnrUZf9aPv8UHRN1Kh</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4bqWxQVri0EG4QIuDSP1VB/e338588cfbcc9aa33d15a0b343786145/Cyberbrawl_Season_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 06 Jun 2024 12:30:45 +0000</pubDate>
    </item>
    <item>
      <title>6月20日にアンロック！</title>
      <link>https://youtu.be/u5h4fv-0oiA</link>
      <description>&lt;h1&gt;PROGRESS: 15.46%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4QUBWFM2P1nzcXPmUscwiU/d89475c724a6d0bdf1e3a362fcb1fcac/Milestone_Double_XP_CROP-1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4vuF3kDntczQcD5tA03ajf/2d0bb0b70e03b12e793e1b66a0c88be0/Milestone_Double_XP_CROP.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5KdUeflfgZhexHYz8Q1Hpg/225064386dc06f8dbedc969ec2a10d55/Milestone_Double_StarrDrops_CROP.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtu.be/u5h4fv-0oiA"&gt;👉見る！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">30wSNahrT4nkIRvkHGhNWf</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6lGIOfq1bP1oRjB5UyjrQ3/191c2e3fa8133e92c32cbe8a31943066/Carousel_Thumbsup_Background.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 10 Jun 2024 08:01:32 +0000</pubDate>
    </item>
  </channel>
</rss>
