<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ja</language>
    <lastBuildDate>Thu, 02 Jan 2025 01:55:32 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://bitly.com/31sgyrY</link>
      <description>&lt;br&gt;
&lt;a href="https://bitly.com/31sgyrY"&gt;👉チャンネルはこちら👈&lt;/a&gt;</description>
      <guid isPermaLink="false">jBNys0tiXpY_zt-b8BDEyoh19ODDXI2TyEXlrsqF3Zc</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/ZbwMgq0EbG5_8fbxR1Npo6rlJSWo_POGi4rsE279Xcs/17a77c1fec7390db104474aae7c6e702/YouTube______.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 24 Feb 2023 11:21:01 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://gamewith.jp/brawlstars-jp/</link>
      <description>&lt;br&gt;
&lt;a href="https://gamewith.jp/brawlstars-jp/"&gt;👉GameWith👈&lt;/a&gt;</description>
      <guid isPermaLink="false">QlfD1pwQl5Sv0qQz1251S</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5Hfjln6CHy28jNYQl6JnEu/2d8b0c128a6d7ef7053aaded60085ea7/20241004_BST_inbox_thumbnail.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 08 Oct 2024 02:27:30 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://twitter.com/brawlstarsjp"&gt;👉X(Twitter）👈&lt;/a&gt; -- &lt;a href="https://www.instagram.com/brawlstars_jp/"&gt;👉Instagram👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4J1OjyZ53m2q7AQLzniVtW</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5Z5dSsNcOp2Q8QZ4OJhRr4/50a14b423c6c58a8063679f0465aa1a3/20241004_BST_inbox_thumbnail_2.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Feb 2024 04:10:39 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=_qKPvDS3Rc4</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=_qKPvDS3Rc4"&gt;👉シェイド！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6B3xKari2bZlnRiswx1BY6</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7czCACHTIsnlQR0sSIIFB/8e6d9aaa51895b4a15900a5ba10513c9/1126_Shade_Release_Animation_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Nov 2024 07:19:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/Z7h8yavCfas</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/Z7h8yavCfas"&gt;👉スタートゥーン2👈&lt;/a&gt;</description>
      <guid isPermaLink="false">30RcUZJOQYiYBEhiiDiUsO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7UfNrhDwu5CdotaE4yaHw/0eaaeda1ee77202ba8bc665da345ac85/1204_Toons_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 05 Dec 2024 09:13:15 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/-gMO3osGeoQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/-gMO3osGeoQ"&gt;👉ブロスタトーク！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1nYH89PFQtbwzS3TipPXQK</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4hqOA5NRQ8yhvG4AwdX4lM/762b1607c1da50a1c5cb6fd405c3452f/1208_Brawl_Talk_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sun, 08 Dec 2024 15:41:22 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=sxNpNqCVhJY</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=sxNpNqCVhJY"&gt;👉見る！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5sOEScsV2IGAh3OnPYzLd</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7k7X0N1a68xHsiv8I6F1Qb/17b372b9f490f8989f2f8ca55a7cfad2/1211_Toy_Story_Animation_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 11 Dec 2024 13:06:04 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/bFr-gMMR_t8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/bFr-gMMR_t8"&gt;👉スターフォース！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5RCU7TDc5TRg1MM6uHH09c</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7AcFsCGgtNcdYCsM4bry1E/74a1940b8432cb5b71f67835b99fa999/1230_Starr_Force_Animation_Launch_Carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 01 Jan 2025 09:01:52 +0000</pubDate>
    </item>
  </channel>
</rss>
