<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ja</language>
    <lastBuildDate>Wed, 15 May 2024 20:34:17 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://bitly.com/31sgyrY</link>
      <description>&lt;br&gt;
&lt;a href="https://bitly.com/31sgyrY"&gt;👉チャンネルはこちら👈&lt;/a&gt;</description>
      <guid isPermaLink="false">jBNys0tiXpY_zt-b8BDEyoh19ODDXI2TyEXlrsqF3Zc</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/ZbwMgq0EbG5_8fbxR1Npo6rlJSWo_POGi4rsE279Xcs/17a77c1fec7390db104474aae7c6e702/YouTube______.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 24 Feb 2023 11:21:01 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://supr.cl/tiktok-jp-inbox</link>
      <description>&lt;br&gt;
&lt;a href="https://supr.cl/tiktok-jp-inbox"&gt;👉アカウントはこちら👈&lt;/a&gt;</description>
      <guid isPermaLink="false">jWyp_7IB-2UcWMiAqfxB6UaV5zRH3eN4ROs7-WGhJv0</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/BcPkHPd9UQWXLjItLpWjdE-WcqveMtYZyUuhwXEnU3I/555a32fb6268ed25564535255b6f9249/1484437668_1671761259.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 24 Feb 2023 11:20:33 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://twitter.com/brawlstarsjp"&gt;👉X(Twitter）👈&lt;/a&gt; -- &lt;a href="https://www.instagram.com/brawlstars_jp/"&gt;👉Instagram👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4J1OjyZ53m2q7AQLzniVtW</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4yGvOa3Ybz9LOg7f7djBc4/c65adfbc71592aba1ad9f9f74b57d7bc/20240131_BST_inbox_thumbnail.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Feb 2024 04:10:39 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/CoUwB7-ITBQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/CoUwB7-ITBQ"&gt;👉ブロスタトーク👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2azxxVt6rp53SUtQ5J9dqz</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5ImvZ7Iw3Oxw62gqyQyS4w/eddfc79cff055ae6843b7137f034220b/0419_BT_Mutations_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 19 Apr 2024 12:17:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/GShb8Ym7Xto?si=rIJT-C0iqlqt8bnC</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/GShb8Ym7Xto?si=rIJT-C0iqlqt8bnC"&gt;👉見る！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1H3PSSPguxStqvTJxPyMYr</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3nLoNEoFgc8fC7SW0osJtw/a710f59038b5b4142bbdb50667e981bb/0426_Godzilla_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 29 Apr 2024 08:02:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://mirrativtmbr.tumblr.com/xN40dORr4W_909</link>
      <description>&lt;br&gt;
&lt;a href="https://mirrativtmbr.tumblr.com/xN40dORr4W_909"&gt;👉詳しくはこちら👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6vGFhieFQK0eDb4JATrEaZ</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1R3gb8SuaxRmEkPHZv6eCX/e62c74f03b4c6b6e164dc49c0873c6c9/______CPN__________.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Apr 2024 05:19:26 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 77.50%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 40M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6h3OxfnUYD9zuv4xAvxXoe/32a1fb15aa738f6badd8437d4d6915fe/Squad_deco_400_x_360.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 30M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6CtJ8AV4qHDcD4fkwPWKZ9/28f8ef7219d1396f826da08809f8e351/Brawl_4.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/53NTnMvBAtMfQ09BmB4MPR/3e9d8c9435d02ea00ac6cb815af1dae9/Brawl_3.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3WwhyEAf37LSWrGXU213GQ/74320391a0761b4cbc27a2aa35dfdef2/Brawl_2.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Supercellが世界に放つ最新作「スクワッド・バスターズ」！今すぐ予約注文しましょう！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">10jK6dOsP35e0wdKDfw3Ed</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/mciXavj3efgxBB5lGNtws/25aed9a78408f4edde702c953a6706c3/animated-swirl.webp?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:08:02 +0000</pubDate>
    </item>
  </channel>
</rss>
