<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Squadbusters - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Squadbusters inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Thu, 21 Nov 2024 10:40:26 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://discord.gg/squadbusters</link>
      <description>&lt;br&gt;
&lt;a href="https://discord.gg/squadbusters"&gt;👉Join Discord!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4lGTM4X1xaUQzVwT9PzbL</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3cZfj8OZRHtMlhSxhwawQy/5f70c1664a4488ce3d5fe0777b4ee5dc/discordv2.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 May 2023 20:19:17 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>youtube.com</link>
      <description>&lt;br&gt;
&lt;a href="youtube.com"&gt;👉Guarda👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2ZhWUtpgNrJVLKARChBtXF</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3EIa0S8HPO3jywcMoCvewL/ac58764d62efd5a09f0550cc69caf729/Ice_Feature_Art_1080x1920.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 24 Jun 2024 10:14:08 +0000</pubDate>
    </item>
    <item>
      <title>INVASIONE DI GALLINE</title>
      <link>https://youtu.be/oiQGlxx8LVQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/oiQGlxx8LVQ"&gt;👉Guarda!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7r0l8ttxMnieiGPQ4wlyS3</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4dKzQexeeMz5QUgrhRotha/adb610b6580f4701aef0bc0103ba7245/bg_tracker_860x1080.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 08 Jul 2024 07:00:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/QCt_vMleTiE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/QCt_vMleTiE"&gt;👉Guarda👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1NcQL9ulk3kIV3gZ7uDwqu</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3UZeMAxnutZvMMFIptFmPF/6f2135de2db430d7c5074b8582f77083/inbox.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 14 Aug 2024 07:32:37 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/8BCod_NjEbo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/8BCod_NjEbo"&gt;👉Guarda👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6eLtAwtWvwHGWP1sgfcNIi</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/18RbDhymjp9uA7JVfR9wdf/478a1c7b50620695d6066190373bfeb5/Transformers_Feature_Art_1080x1920.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 11 Sep 2024 11:11:56 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/XjsF9kLEdJo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/XjsF9kLEdJo"&gt;👉Guarda👈&lt;/a&gt;</description>
      <guid isPermaLink="false">snf63LXWObdadeGhVAZHS</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3lokaQK0hhHejQYXDtCxJ7/8182feef802cfe28c712b026ba7672d0/SquadUp__Default.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 21 Oct 2024 07:10:49 +0000</pubDate>
    </item>
  </channel>
</rss>
