<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Squadbusters - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Squadbusters inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Sat, 20 Jul 2024 22:32:02 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://discord.gg/squadbusters</link>
      <description>&lt;br&gt;
&lt;a href="https://discord.gg/squadbusters"&gt;👉Join Discord!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4lGTM4X1xaUQzVwT9PzbL</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3cZfj8OZRHtMlhSxhwawQy/5f70c1664a4488ce3d5fe0777b4ee5dc/discordv2.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 May 2023 20:19:17 +0000</pubDate>
    </item>
    <item>
      <title> </title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">5iVRn2WEJKcaCmbVI29Upi</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3zExNhWhiM8yB9MQTTanTD/d6fa59de855691f614efb50ee4f3e47c/caroussel_welcome.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 Apr 2024 12:30:53 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=6mEMO6o6VqI</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=6mEMO6o6VqI"&gt;👉GUARDA👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5wE7gHUbA7qq74JAS9vyW</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1sgYS1aqg9mZVj844Pgywj/15867d0c7704bbf8c56dd5affd7a896b/carousel_launch_announcement.jpg?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 25 Apr 2024 11:45:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>youtube.com</link>
      <description>&lt;br&gt;
&lt;a href="youtube.com"&gt;👉Guarda👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2ZhWUtpgNrJVLKARChBtXF</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3EIa0S8HPO3jywcMoCvewL/ac58764d62efd5a09f0550cc69caf729/Ice_Feature_Art_1080x1920.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 24 Jun 2024 10:14:08 +0000</pubDate>
    </item>
    <item>
      <title>INVASIONE DI GALLINE</title>
      <link>https://youtu.be/oiQGlxx8LVQ</link>
      <description>&lt;h1&gt;PROGRESS: 100.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ - 120M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3R4ArHgINdI7NIdYzmoK92/927e0f23883e0aa38c7cf38b093ca0e2/SkinBalckBeltChicken.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 80M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4sHxOsysIAlt20ZDpY0H0c/0a8581579caf599a3105bfa4e6888cb5/chickens_x80.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 50M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/qn4P9pxyPJtabWKuzkx16/ab6918ece96afecd1c7c79072f089797/coins_20-000.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/6QUcomblvk84WY3douVtyc/f231c6c0359e97d5ea50791e2ff1a9c3/chickens_x20.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 10M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/2lnOcvFqI6uVMneWYauzJc/85f492426957e0d876b35862f7651809/MegaDragonChicken_x10.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtu.be/oiQGlxx8LVQ"&gt;👉Guarda!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7r0l8ttxMnieiGPQ4wlyS3</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4dKzQexeeMz5QUgrhRotha/adb610b6580f4701aef0bc0103ba7245/bg_tracker_860x1080.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 08 Jul 2024 07:00:02 +0000</pubDate>
    </item>
  </channel>
</rss>
