<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Sat, 01 Jun 2024 15:33:02 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_Wqxdwxj/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_Wqxdwxj/friend"&gt;👉카톡을 평정한 총잡이 등장! 🤠🌵👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6tKjZ7A6n7xzAvxLHdBNPx</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/67yVJcY6sErzV8lh0j2Dp6/035e5e9d075433c67c8862bc6b20217a/1218_____________800x1161_.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 02 Aug 2023 07:02:19 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/shorts/d5UJHrAuP60?si=bJdzbYgLjl2p1_l0"&gt;👉티저 등장!👈&lt;/a&gt; -- &lt;a href="https://www.youtube.com/post/Ugkx_IIOB5wbdGlQhEC-KU-WSHffHctH0kQZ"&gt;👉기본 안내!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4ymn3iKpYaEoeXVfX7ZxbN</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6yBhxV43AvB5cFJeQsU3l7/15c9a6cb106d8472f38a0c33c8e6d28b/KV_inbox_var_800x1161_final.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 12 Apr 2024 10:30:03 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/BBCT43nH6_Q</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/BBCT43nH6_Q"&gt;👉브롤 토크👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2azxxVt6rp53SUtQ5J9dqz</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5ImvZ7Iw3Oxw62gqyQyS4w/eddfc79cff055ae6843b7137f034220b/0419_BT_Mutations_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 19 Apr 2024 12:17:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/kYmsThvBM5g?si=V4UxB4cPYcnE-Zrk</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/kYmsThvBM5g?si=V4UxB4cPYcnE-Zrk"&gt;👉보러 가기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1H3PSSPguxStqvTJxPyMYr</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3nLoNEoFgc8fC7SW0osJtw/a710f59038b5b4142bbdb50667e981bb/0426_Godzilla_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 29 Apr 2024 08:02:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <guid isPermaLink="false">6oZxpgV7GjdU1J0sPfhMXw</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1PKT3gwP5dzoHFlGyXY4yN/059bc5cad08aeee47d6182d35407a936/0526_modes-poll_inbox_800x1161__KR.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sun, 26 May 2024 14:40:22 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉드라코!👈&lt;/a&gt; -- &lt;a href="https://youtu.be/R1hiRWjRJVk?si=q0juJbkTmMhX3dDp"&gt;👉보러 가기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">76PQqAcT7zm1S6mxjZj66j</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6mYtFCRguSb94BP7QFcg3B/c5f48895f29ef685a1c10e09656ae091/0530_Draco_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 04 Apr 2024 09:05:56 +0000</pubDate>
    </item>
  </channel>
</rss>
