<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Mon, 18 Nov 2024 10:41:47 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_Wqxdwxj/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_Wqxdwxj/friend"&gt;👉카톡을 평정한 총잡이 등장! 🤠🌵👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6tKjZ7A6n7xzAvxLHdBNPx</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/67yVJcY6sErzV8lh0j2Dp6/035e5e9d075433c67c8862bc6b20217a/1218_____________800x1161_.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 02 Aug 2023 07:02:19 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/hKAKb1YueCE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/hKAKb1YueCE"&gt;👉브롤 토크!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1o5aaTruXqDGM8CbR9V2mB</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4KLX0xkmaySrQlmPvbi8Sm/1825620f4a7ca3f3d500f2686882e529/1024_Brawl_Talk_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 25 Oct 2024 14:13:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/0Mc6NqSL0i0</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/0Mc6NqSL0i0"&gt;👉주주!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5lFg7IXNiITc20AhcbZrs</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/kHf4MEUDAXdt5331H01Ao/cf25ec347ed89c32552d4ed972b32368/1030_Juju_shop_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 30 Oct 2024 07:11:14 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/rf5oY0WOuBQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/rf5oY0WOuBQ"&gt;👉천사 VS 악마👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5r18z9XyBzJnHhsbMrUoGV</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/WdjU4SCRtLQWW9uwOttpy/5576fe1159a751ad0b59ae7a259c250c/1030_Anges_vs_Deamons_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 25 Oct 2024 14:04:36 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/jxr-p38KXhw"&gt;👉보러 가기👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/ko/news/2JfjjxnuG0fEhhzMGulYyC"&gt;👉더 읽어보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">71oJ1PzziY67SJDdFHUFJW</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6VfyxQGkunJ8uVDPTnKVCo/b8596af4489d2474894f2171f8125a6e/1107_Season_start_carousel_800x1161_v2.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 07 Nov 2024 09:10:08 +0000</pubDate>
    </item>
  </channel>
</rss>
