<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Sun, 08 Sep 2024 23:31:22 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_Wqxdwxj/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_Wqxdwxj/friend"&gt;👉카톡을 평정한 총잡이 등장! 🤠🌵👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6tKjZ7A6n7xzAvxLHdBNPx</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/67yVJcY6sErzV8lh0j2Dp6/035e5e9d075433c67c8862bc6b20217a/1218_____________800x1161_.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 02 Aug 2023 07:02:19 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/KEwxr8I4Gl8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KEwxr8I4Gl8"&gt;👉브롤 토크!🍍👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2kHnQSqjuGk3bnciswwcOO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3dgIju8ge3fLMrRFn94xF1/c19c3f8ae3cd51b4bec83ffbe7bcfe85/0822_Brawl_Talk_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 23 Aug 2024 08:17:51 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/5e9zHD5Q350?si=SaHA9H2qV5TeUGnl</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/5e9zHD5Q350?si=SaHA9H2qV5TeUGnl"&gt;👉모! 🧀👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5cEtbes7dcyduOZue7dq65</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4JTX03WLg62fBQNGrHV2S4/eac2a5a47713403bf8183a52901705b4/0828-Moe-Carousel-800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 29 Aug 2024 08:19:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/eHKuVfL8cSY"&gt;👉스폰지밥!👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/ko/news/6QSXex4AdG3jEGdvYSWcFj"&gt;👉추가 정보!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6R90pLtZD7BsYwLCI0e6rO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2oCXh2bbvVSRAyRru06Yz4/59e45916644854e5618988dee32214be/0904_Spongebob_carousel_800x1161_v2.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 04 Sep 2024 10:29:32 +0000</pubDate>
    </item>
  </channel>
</rss>
