<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Fri, 21 Feb 2025 22:34:15 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="http://www.youtube.com/BrawlStars"&gt;👉YOUTUBE👈&lt;/a&gt; -- &lt;a href="http://supr.cl/tiktok-inbox"&gt;👉TIKTOK👈&lt;/a&gt;</description>
      <guid isPermaLink="false">uYs2OgP0_nFuWxQdFXYNkFjCX55R4NjWtAHnmBJC21k</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:52 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/T16T-odokVk</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/T16T-odokVk"&gt;👉Hype !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5ATMeqCG0D4tSHC7ExU8iL</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2XxYnYDLiT0eS3Y7vPVrdl/979e451241b9f10c4661d5883af4f21f/carroussel_hypercharge_bull.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 30 Aug 2023 09:58:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/2iU6MrHXfyU</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/2iU6MrHXfyU"&gt;👉Ollie !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4gccvSg2kres84DlZIbUfJ</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7qFvL1LDwCFDQmk9uBp0uq/fadd33d767e16dec9a3723f3c566485c/0129_Ollie_Animation_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 30 Jan 2025 07:04:54 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/xRz9DFJQ_j4</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/xRz9DFJQ_j4"&gt;👉Good Randoms👈&lt;/a&gt;</description>
      <guid isPermaLink="false">MGHS3I1PReHlyYjQoL0lS</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3yYygWfjklNwEckDeKRJyR/4f7ac5a4403d5ab09143b39155259f2a/0204_Good_randoms_pop-up_800x1161_v2.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 06 Feb 2025 09:01:39 +0000</pubDate>
    </item>
    <item>
      <title>Choisissez une bôté parfaite pour Bo !</title>
      <description>&lt;h1&gt;Choisissez une bôté parfaite pour Bo !&lt;/h1&gt;
📊 [POLL]
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Mortis&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5L9W2JKkXl9jRuVdmn2x90/999ff03ae93ba36267a4607c22db5a91/mortis.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Melody&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3yuRwDugs2rEZ158DL9AWx/048fbc1900070d20432becdcb8dac4ca/melodie.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;</description>
      <guid isPermaLink="false">1UpdMqpRCyyL6rEUoFMlfQ</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3Zmd6C3D2B2imaTAvHi80Z/43e818dc632dc297c1bde1f1a918d1af/Bo-Valentine-800x1161_vote.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 18 Feb 2025 08:53:37 +0000</pubDate>
    </item>
    <item>
      <title>Choisissez une bôté parfaite pour Bo !</title>
      <description>&lt;h1&gt;Choisissez une bôté parfaite pour Bo !&lt;/h1&gt;
📊 [POLL]
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;Charlie&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6H46yyJoNspqT1jyZnuhw3/9f33bde72fd5c616565d33ab07c202a1/charlie.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Mandy&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7iDwbXTwOXzKNWOqZBT9EL/7907ec0e556ecd8f19ceb803d0b9b055/mandy.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Piper&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7iDIiSTvRqYpf5P6iPYPeA/bb33c3f5f5331c8213c160e12c2d0a57/piper.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Amber&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3Sr5UlYi6imdR20l0fKBmr/210db9112e2399ea994fc93edd9b05a5/amber.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Melodie&lt;/p&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3yuRwDugs2rEZ158DL9AWx/048fbc1900070d20432becdcb8dac4ca/melodie.png?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;</description>
      <guid isPermaLink="false">285iDwsJjkILKfbFlur8OR</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4qOw00xrHZHhg4bToUwR45/fe97dc0c9ee3523a4af900c4fd383c0f/0203_Bo_Valentine_800x1161_last_vote.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 20 Feb 2025 08:57:45 +0000</pubDate>
    </item>
    <item>
      <title>Récompenses disponibles :</title>
      <description>&lt;h1&gt;PROGRESS: 95.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/79ePic34MNmIUyawpODGcW/c96f4d5378b4d961b175e3bb2da95a31/05_portrait_melodie_Hypercharge_x2_420x256.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4115rEpEm6qGwvHskRW0Wb/3fbc8cabd4c3199d3b34ea113768ac4a/03_rewards_100__Mastery_bonus_420x256_2.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3oGN9wpgT7KJ9IsqiDL08N/d79113ded3844213c4d1c745845c06b8/05_portrait_piper_StarDrop_x10_420x256.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2j2a2z9GoBJQzfIhuVUrRO/267175bf3ca3ed75b669862b2a61fe66/03_rewards_Double_Starr_Drops_420x256_2.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6jQFBCIsoid0TS9pInJih3/05b42f96e60613d44c122134e4730e62/05_portrait_amber_Mike_420x256.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7KXADDcpZHIFORfndq48ra/2f875994489bfe36cde272e4a9fe4efb/03_rewards_50__Mastery_bonus_420x256_2.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/24EMr9ltl9ELfanhUPZSLg/4280b7b8b30a45589c32943c22e9d858/05_portrait_mandy_1000c_420x256.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/39uXaxsCM8gfs399Lc7nN8/cc11f040d7f60094c6a3c206efac6fa2/03_rewards_420x256_2.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5kitKir9BAeD1qs5pO320L/add18fb06ec70eec7c1fef7947505210/05_portrait_charlie_gift_x6_420x256.png?w=420&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="None"&gt;👉VOTER !👈&lt;/a&gt; -- &lt;a href="https://youtu.be/jdX5xwV829s"&gt;👉Regarder👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7tqlickrkqrHfrQ3pHXXvF</guid>
      <pubDate>Mon, 10 Feb 2025 08:52:29 +0000</pubDate>
    </item>
  </channel>
</rss>
