<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Sat, 19 Oct 2024 03:38:18 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="http://www.youtube.com/BrawlStars"&gt;👉YOUTUBE👈&lt;/a&gt; -- &lt;a href="http://supr.cl/tiktok-inbox"&gt;👉TIKTOK👈&lt;/a&gt;</description>
      <guid isPermaLink="false">uYs2OgP0_nFuWxQdFXYNkFjCX55R4NjWtAHnmBJC21k</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:52 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/T16T-odokVk</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/T16T-odokVk"&gt;👉Hype !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5ATMeqCG0D4tSHC7ExU8iL</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2XxYnYDLiT0eS3Y7vPVrdl/979e451241b9f10c4661d5883af4f21f/carroussel_hypercharge_bull.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 30 Aug 2023 09:58:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/KEwxr8I4Gl8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KEwxr8I4Gl8"&gt;👉Brawl Talk !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2kHnQSqjuGk3bnciswwcOO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3dgIju8ge3fLMrRFn94xF1/c19c3f8ae3cd51b4bec83ffbe7bcfe85/0822_Brawl_Talk_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 23 Aug 2024 08:17:51 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/Q8D95ErQbjk?si=Cu89Kgl0B5rQ5TfV</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/Q8D95ErQbjk?si=Cu89Kgl0B5rQ5TfV"&gt;👉Kenji👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1NPTT643S0qTrA4H6CC4CQ</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7gurwS0QUywZziyBDmOCgY/2c29cbb864f8b23a31562a2c53cc58e1/kenji-animation-800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 26 Sep 2024 10:35:35 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/OiN_L7jrM78</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/OiN_L7jrM78"&gt;👉REGARDER !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5onoF2pjANwkfFVsDaM52x</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5xw9cIOyvIjKs4H4UXI1Zu/dc5ddaa8ed6e8769161eba420365853f/1003_Scary_Tales_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 03 Oct 2024 14:26:02 +0000</pubDate>
    </item>
    <item>
      <title>Boîtes DEAD : événement communautaire</title>
      <description>&lt;h1&gt;PROGRESS: 19.90%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 15 mrds &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1U6EDn2r9fBeBYt7PvgnwQ/003de5a6ff5181c3b6accbf532169320/Milestone_DoubleStarrDrops.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - 10 mrds &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1g1YFyvkXilqDTjT5RBUDH/611827b5f5504aad028e914ab9a27b09/Milestone-HyperStarrDrop.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - 5 mrds &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5xntMVPDMVs5yQ0JSb323Y/72175084075bd101d3d0f1b6274e4395/Milestone-DoubleXP.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=_VwVGwNA3Xs"&gt;👉Regarder👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/fr/news/6lPj9ejyfc6JQ2OHWnAG6V"&gt;👉En savoir plus👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4rbIAciN5</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2utIoUBKSRZaaohildvcrQ/d1677f1e2c8785e30b244bcab653b556/BG.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 17 Oct 2024 07:01:21 +0000</pubDate>
    </item>
  </channel>
</rss>
