<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Thu, 21 Nov 2024 13:39:57 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="http://www.youtube.com/BrawlStars"&gt;👉YOUTUBE👈&lt;/a&gt; -- &lt;a href="http://supr.cl/tiktok-inbox"&gt;👉TIKTOK👈&lt;/a&gt;</description>
      <guid isPermaLink="false">uYs2OgP0_nFuWxQdFXYNkFjCX55R4NjWtAHnmBJC21k</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:52 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/T16T-odokVk</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/T16T-odokVk"&gt;👉Hype !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5ATMeqCG0D4tSHC7ExU8iL</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2XxYnYDLiT0eS3Y7vPVrdl/979e451241b9f10c4661d5883af4f21f/carroussel_hypercharge_bull.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 30 Aug 2023 09:58:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/DIWsSpvHj8o</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/DIWsSpvHj8o"&gt;👉Brawl Talk !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1o5aaTruXqDGM8CbR9V2mB</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4KLX0xkmaySrQlmPvbi8Sm/1825620f4a7ca3f3d500f2686882e529/1024_Brawl_Talk_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 25 Oct 2024 14:13:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/BqPNB9Vxl_w</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/BqPNB9Vxl_w"&gt;👉Juju !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5lFg7IXNiITc20AhcbZrs</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/kHf4MEUDAXdt5331H01Ao/cf25ec347ed89c32552d4ed972b32368/1030_Juju_shop_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 30 Oct 2024 07:11:14 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/DQ5sNcR5j5A</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/DQ5sNcR5j5A"&gt;👉Anges VS Démons👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5r18z9XyBzJnHhsbMrUoGV</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/WdjU4SCRtLQWW9uwOttpy/5576fe1159a751ad0b59ae7a259c250c/1030_Anges_vs_Deamons_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 25 Oct 2024 14:04:36 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/CwYErV4fwTA"&gt;👉Regarder👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/fr/news/2JfjjxnuG0fEhhzMGulYyC"&gt;👉En savoir plus👈&lt;/a&gt;</description>
      <guid isPermaLink="false">71oJ1PzziY67SJDdFHUFJW</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6VfyxQGkunJ8uVDPTnKVCo/b8596af4489d2474894f2171f8125a6e/1107_Season_start_carousel_800x1161_v2.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 07 Nov 2024 09:10:08 +0000</pubDate>
    </item>
  </channel>
</rss>
