<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>zh</language>
    <lastBuildDate>Fri, 03 May 2024 11:32:53 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=d8021wX1pv4</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=d8021wX1pv4"&gt;👉立即觀看!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">y4OpDNdDuGkhsWVQrH6e9oOBdtDad9yo97btzm3iB2g</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/uRSzmYwHD9AtuIx-AwIC-5uFaNjotM5a2OWLwptSe7k/a47bb0fa9fff3b5a7c335ad88928b653/tw_20181217_BarleySkin_Banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:21:04 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">TKb-34xFW2t1wesZgEE8ve1wSrDSVc49CwcW7YGKFmU</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/x98Nak1xZq2fJB3-eILi65p-JMZ7zJ0CiMbLdXf8KxQ/09d77f90a30009e58390b979bab36b36/tw_20190318_scid_barley_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:21:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://supercell.com/en/games/brawlstars/zh/blog/news/creator-strategy/</link>
      <description>&lt;br&gt;
&lt;a href="https://supercell.com/en/games/brawlstars/zh/blog/news/creator-strategy/"&gt;👉前往了解!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XVqkmTANnfJ4mO7EGG47W</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3LyjWXmOznrZx86pngx3OL/236281c09a36d674361d8694efe61efe/tw_20231026_bs_creators_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Oct 2023 04:17:00 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/oUW1RPbbqJE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/oUW1RPbbqJE"&gt;👉亂鬥搶先看👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2azxxVt6rp53SUtQ5J9dqz</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5ImvZ7Iw3Oxw62gqyQyS4w/eddfc79cff055ae6843b7137f034220b/0419_BT_Mutations_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 19 Apr 2024 12:17:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 78.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 30M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6CtJ8AV4qHDcD4fkwPWKZ9/28f8ef7219d1396f826da08809f8e351/Brawl_4.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/53NTnMvBAtMfQ09BmB4MPR/3e9d8c9435d02ea00ac6cb815af1dae9/Brawl_3.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3WwhyEAf37LSWrGXU213GQ/74320391a0761b4cbc27a2aa35dfdef2/Brawl_2.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/HLWACB6TK9ADvd7GISdZi/9a39056d0c472b48caf9f345b4fc8883/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉破壞突擊隊，集合！Supercell全新遊戲正式上線，立即預訂！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">10jK6dOsP35e0wdKDfw3Ed</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/mciXavj3efgxBB5lGNtws/25aed9a78408f4edde702c953a6706c3/animated-swirl.webp?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:08:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/78fQeeEcWMQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/78fQeeEcWMQ"&gt;👉立即觀看!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1H3PSSPguxStqvTJxPyMYr</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3nLoNEoFgc8fC7SW0osJtw/a710f59038b5b4142bbdb50667e981bb/0426_Godzilla_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 29 Apr 2024 08:02:08 +0000</pubDate>
    </item>
  </channel>
</rss>
