<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>zh</language>
    <lastBuildDate>Thu, 31 Oct 2024 06:41:45 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=d8021wX1pv4</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=d8021wX1pv4"&gt;👉立即觀看!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">y4OpDNdDuGkhsWVQrH6e9oOBdtDad9yo97btzm3iB2g</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/uRSzmYwHD9AtuIx-AwIC-5uFaNjotM5a2OWLwptSe7k/a47bb0fa9fff3b5a7c335ad88928b653/tw_20181217_BarleySkin_Banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:21:04 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">TKb-34xFW2t1wesZgEE8ve1wSrDSVc49CwcW7YGKFmU</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/x98Nak1xZq2fJB3-eILi65p-JMZ7zJ0CiMbLdXf8KxQ/09d77f90a30009e58390b979bab36b36/tw_20190318_scid_barley_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:21:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://supercell.com/en/games/brawlstars/zh/blog/news/creator-strategy/</link>
      <description>&lt;br&gt;
&lt;a href="https://supercell.com/en/games/brawlstars/zh/blog/news/creator-strategy/"&gt;👉前往了解!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XVqkmTANnfJ4mO7EGG47W</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3LyjWXmOznrZx86pngx3OL/236281c09a36d674361d8694efe61efe/tw_20231026_bs_creators_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Oct 2023 04:17:00 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/Q8D95ErQbjk?si=Cu89Kgl0B5rQ5TfV</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/Q8D95ErQbjk?si=Cu89Kgl0B5rQ5TfV"&gt;👉賢治👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1NPTT643S0qTrA4H6CC4CQ</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7gurwS0QUywZziyBDmOCgY/2c29cbb864f8b23a31562a2c53cc58e1/kenji-animation-800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 26 Sep 2024 10:35:35 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/OiN_L7jrM78</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/OiN_L7jrM78"&gt;👉立即觀看!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5onoF2pjANwkfFVsDaM52x</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5xw9cIOyvIjKs4H4UXI1Zu/dc5ddaa8ed6e8769161eba420365853f/1003_Scary_Tales_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 03 Oct 2024 14:26:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://brawlstars.inbox.supercell.com/#/zh/news/1nNDrsVZcoYvqdaQLNYvpY</link>
      <description>&lt;br&gt;
&lt;a href="https://brawlstars.inbox.supercell.com/#/zh/news/1nNDrsVZcoYvqdaQLNYvpY"&gt;👉了解詳情!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">EcfBB6NwbBUo5jNRXu8pC</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7Bh3Tgcinhe3NMQMFk7MCc/75939f7db8633f1007c9b15b3995faea/tw_20241019_bs_creators_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 18 Oct 2024 10:59:10 +0000</pubDate>
    </item>
    <item>
      <title>死亡寶箱社群活動</title>
      <description>&lt;h1&gt;PROGRESS: 100.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ - 150億 &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1U6EDn2r9fBeBYt7PvgnwQ/003de5a6ff5181c3b6accbf532169320/Milestone_DoubleStarrDrops.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 100億 &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1g1YFyvkXilqDTjT5RBUDH/611827b5f5504aad028e914ab9a27b09/Milestone-HyperStarrDrop.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 50億 &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5xntMVPDMVs5yQ0JSb323Y/72175084075bd101d3d0f1b6274e4395/Milestone-DoubleXP.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=_VwVGwNA3Xs"&gt;👉觀看👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/zh/news/6lPj9ejyfc6JQ2OHWnAG6V"&gt;👉了解更多👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4rbIAciN5</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2utIoUBKSRZaaohildvcrQ/d1677f1e2c8785e30b244bcab653b556/BG.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 17 Oct 2024 07:01:21 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/DIWsSpvHj8o</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/DIWsSpvHj8o"&gt;👉亂鬥搶先看！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1o5aaTruXqDGM8CbR9V2mB</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4KLX0xkmaySrQlmPvbi8Sm/1825620f4a7ca3f3d500f2686882e529/1024_Brawl_Talk_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 25 Oct 2024 14:13:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/BqPNB9Vxl_w</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/BqPNB9Vxl_w"&gt;👉茱茱！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5lFg7IXNiITc20AhcbZrs</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/kHf4MEUDAXdt5331H01Ao/cf25ec347ed89c32552d4ed972b32368/1030_Juju_shop_carousel_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 30 Oct 2024 07:11:14 +0000</pubDate>
    </item>
  </channel>
</rss>
