<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>zh</language>
    <lastBuildDate>Tue, 24 Sep 2024 09:33:47 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=d8021wX1pv4</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=d8021wX1pv4"&gt;👉立即觀看!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">y4OpDNdDuGkhsWVQrH6e9oOBdtDad9yo97btzm3iB2g</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/uRSzmYwHD9AtuIx-AwIC-5uFaNjotM5a2OWLwptSe7k/a47bb0fa9fff3b5a7c335ad88928b653/tw_20181217_BarleySkin_Banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:21:04 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">TKb-34xFW2t1wesZgEE8ve1wSrDSVc49CwcW7YGKFmU</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/x98Nak1xZq2fJB3-eILi65p-JMZ7zJ0CiMbLdXf8KxQ/09d77f90a30009e58390b979bab36b36/tw_20190318_scid_barley_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:21:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://supercell.com/en/games/brawlstars/zh/blog/news/creator-strategy/</link>
      <description>&lt;br&gt;
&lt;a href="https://supercell.com/en/games/brawlstars/zh/blog/news/creator-strategy/"&gt;👉前往了解!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XVqkmTANnfJ4mO7EGG47W</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3LyjWXmOznrZx86pngx3OL/236281c09a36d674361d8694efe61efe/tw_20231026_bs_creators_banner.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Oct 2023 04:17:00 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/KEwxr8I4Gl8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KEwxr8I4Gl8"&gt;👉亂鬥搶先看！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2kHnQSqjuGk3bnciswwcOO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3dgIju8ge3fLMrRFn94xF1/c19c3f8ae3cd51b4bec83ffbe7bcfe85/0822_Brawl_Talk_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 23 Aug 2024 08:17:51 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/nkv5GsbUUfQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/nkv5GsbUUfQ"&gt;👉莫！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5cEtbes7dcyduOZue7dq65</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4JTX03WLg62fBQNGrHV2S4/eac2a5a47713403bf8183a52901705b4/0828-Moe-Carousel-800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 29 Aug 2024 08:19:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/obSutkLXF4E"&gt;👉海綿寶寶!👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/zh/news/6QSXex4AdG3jEGdvYSWcFj"&gt;👉更多資訊!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6R90pLtZD7BsYwLCI0e6rO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/2oCXh2bbvVSRAyRru06Yz4/59e45916644854e5618988dee32214be/0904_Spongebob_carousel_800x1161_v2.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 04 Sep 2024 10:29:32 +0000</pubDate>
    </item>
  </channel>
</rss>
