<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Thu, 08 Aug 2024 09:30:35 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/brawlstars"&gt;👉YouTube👈&lt;/a&gt; -- &lt;a href="http://supr.cl/tiktok-inbox"&gt;👉TikTok👈&lt;/a&gt;</description>
      <guid isPermaLink="false">AF8IbAyncIwI0J59MT2SSce-Kowt9uwUY0Po_7lbpkY</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:58 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/ndSA3_MOYkM?si=34XKtLI_ph7dsPsK</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ndSA3_MOYkM?si=34XKtLI_ph7dsPsK"&gt;👉Clancy!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6CWHdZwGtjKGemUPp8bnf2</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5J0DYjRJ7VM18OONgHvIVi/a5b689c379e4f4d091f7411071286e4d/0725_Clancy_Early_Access_800x1161_v1.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 25 Jul 2024 07:19:26 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/RJw3Y-3EBFo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/RJw3Y-3EBFo"&gt;👉Paintbrawl👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2sfs1Cg5UrxaNVwIMc1g1j</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/GtE0HOJbM0KSDFIg1dAqL/d6623977c1cb6f96b177675a266839d9/0801_Paint_Brawl_BP_Start_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Aug 2024 09:03:16 +0000</pubDate>
    </item>
  </channel>
</rss>
