<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ru</language>
    <lastBuildDate>Sun, 03 Nov 2024 18:39:07 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ru/news/4pHYeqFPnOfnlNN2uEXDwd</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ru/news/4pHYeqFPnOfnlNN2uEXDwd"&gt;👉ЧИТАТЬ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5C2WofUnEQhoWrysuujn0l</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3y9QbQLe7ksCUzAOaz7MUY/37cd4be43fe13cf018722c38bb4ce272/RU_CR-Roadmap-banner.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 01 Dec 2023 18:24:13 +0000</pubDate>
    </item>
    <item>
      <title>СЕНТЯБРЬСКИЙ СЕЗОН</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ru/news/6fGNoLSaRUijALtrAyCWHY"&gt;👉ЧИТАТЬ👈&lt;/a&gt; -- &lt;a href="https://www.youtube.com/shorts/IYy9pLDk2FI"&gt;👉СМОТРЕТЬ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1Sz9a8IdfR1g3w67aaUyRb</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/28udNuTRKDUNzgVCrEA8vH/a7a61fbf0d5fad0a68ee9f721be5bb41/SUP3941_CR_s63_Season_Carousel_Image.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 02 Sep 2024 10:19:58 +0000</pubDate>
    </item>
    <item>
      <title>ОКТЯБРЬСКОЕ ОБНОВЛЕНИЕ!</title>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/-k-VL-ampa8"&gt;👉Смотреть👈&lt;/a&gt; -- &lt;a href="https://clashroyale.inbox.supercell.com/#/ru/news/51t7tXh4rDoqz0FhT5JXHh"&gt;👉Читать👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2mthjmVSzbb2BzbDdXFV7R</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4blk7GPMzk2atebUVGxL9J/e1c5becde91cae23a74630a17f0f8e75/caroussel_update_oct24.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 02 Oct 2024 07:38:21 +0000</pubDate>
    </item>
  </channel>
</rss>
