<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ru</language>
    <lastBuildDate>Fri, 30 Aug 2024 04:36:17 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ru/news/4pHYeqFPnOfnlNN2uEXDwd</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ru/news/4pHYeqFPnOfnlNN2uEXDwd"&gt;👉ЧИТАТЬ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5C2WofUnEQhoWrysuujn0l</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3y9QbQLe7ksCUzAOaz7MUY/37cd4be43fe13cf018722c38bb4ce272/RU_CR-Roadmap-banner.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 01 Dec 2023 18:24:13 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-3/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-3/"&gt;👉Получить!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">yB7TCmDIExMubeOewgmPH</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7C8MqTPcLF06uqNt9rGvBk/38a800c4833e105760e52f90a5a265b6/BOC_CR_NewsTab_Vol3_NoText__1_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 28 May 2024 17:00:03 +0000</pubDate>
    </item>
    <item>
      <title>АВГУСТОВСКИЙ СЕЗОН</title>
      <link>https://clashroyale.inbox.supercell.com/#/ru/news/2brc35wE6cJuyUc8dDojz6</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ru/news/2brc35wE6cJuyUc8dDojz6"&gt;👉ЧИТАТЬ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4oZL9FUBj0tPSTo0OqbD8l</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4SfohKa2qw63fuBBAJoIw6/aae08056c08197f09288cc6b65e02772/CR_S62_Season_Carousel_Image.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 05 Aug 2024 10:27:45 +0000</pubDate>
    </item>
  </channel>
</rss>
