<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Mon, 23 Dec 2024 10:38:09 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_EnANb/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_EnANb/friend"&gt;👉카톡하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">wJjt5gJgQNjFSzlVkSXLEYS0Lej-Z1V5ssmjXBHsCwo</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/38M8IjpnN4ij5Z6FZxA8xcSDeR6ijjSCYJUL0eVPKDI/185734d998fdb1a968b67df21ce1b20b/1408523498_1684218737.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://clashofclans.inbox.supercell.com/#/ko/news/7wRuQejma7mbgsBH3BE6cg</link>
      <description>&lt;br&gt;
&lt;a href="https://clashofclans.inbox.supercell.com/#/ko/news/7wRuQejma7mbgsBH3BE6cg"&gt;👉확인하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6BmJJkWH5m2fe4l8K8ENdU</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7jaqaHfPDgpZHvWuDsrvfh/6a0aa00f8c406746f37979bf590fd571/PC__-____860x1320_.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 25 Oct 2023 07:42:33 +0000</pubDate>
    </item>
    <item>
      <title>범인은 바로? (해머잼!)</title>
      <link>https://youtu.be/LNojhMwhhvU</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/LNojhMwhhvU"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4du43lu07aWYmv9KiJz2xy</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/748iEpm86zS8Z4xzbnO9p8/a33b19b2a2962e39ae1aabb3fe7189cd/Screenshot_2024-11-07_at_13.54.56.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 07 Nov 2024 12:10:05 +0000</pubDate>
    </item>
    <item>
      <title>마을회관 17레벨 및 신규 영웅!</title>
      <link>https://youtu.be/NlNm6RgwdW8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/NlNm6RgwdW8"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3jMi5hN4VXUfuSE3ByOzwj</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2cLm3aaQal6unPcvMMxDTK/7fc06350fccd89d3927cf98b4f3a0a66/Pop_up.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 25 Nov 2024 10:03:11 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/r4NH6tlDJeg</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/r4NH6tlDJeg"&gt;👉영상 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3zkW3ifcM30p1DWB099CvM</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/DtpO1Q6q0tyJG62u7mSiZ/1bede0dffa8c47f9d08ce93a20a50049/CoC_SC021_Clashmas_KO_860x1320_Still_Inbox_v01_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Dec 2024 08:00:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/tHVRGTcSltg</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/tHVRGTcSltg"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3NCu1rUiH46L1Cc4yskLpK</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/1HBfqiGcz9pCrGSTZjaFqr/599c942563b6fa8c48732c5964936a11/1204_COC_______-_____-________.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 04 Dec 2024 08:04:22 +0000</pubDate>
    </item>
  </channel>
</rss>
