<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Mon, 08 Jul 2024 20:29:57 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_EnANb/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_EnANb/friend"&gt;👉카톡하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">wJjt5gJgQNjFSzlVkSXLEYS0Lej-Z1V5ssmjXBHsCwo</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/38M8IjpnN4ij5Z6FZxA8xcSDeR6ijjSCYJUL0eVPKDI/185734d998fdb1a968b67df21ce1b20b/1408523498_1684218737.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://clashofclans.inbox.supercell.com/#/ko/news/7wRuQejma7mbgsBH3BE6cg</link>
      <description>&lt;br&gt;
&lt;a href="https://clashofclans.inbox.supercell.com/#/ko/news/7wRuQejma7mbgsBH3BE6cg"&gt;👉확인하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6BmJJkWH5m2fe4l8K8ENdU</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7jaqaHfPDgpZHvWuDsrvfh/6a0aa00f8c406746f37979bf590fd571/PC__-____860x1320_.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 25 Oct 2023 07:42:33 +0000</pubDate>
    </item>
    <item>
      <title>6월 업데이트를 소개합니다!</title>
      <link>https://youtu.be/fzuGDNwFsAQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/fzuGDNwFsAQ"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1nJN3MC9WCJbG7q5jjSXRH</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7eEcELzWrWJxhRlRefdWJk/c97c5633afba941210030dfb7d385f7b/Carousel-ClashOn-JuneUpdate.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 18 Jun 2024 08:06:19 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/DvmGZNP03aE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/DvmGZNP03aE"&gt;👉영상 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">b8FE9Xag88ADqwc1zEasy</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/m6OwzeY8YodeSeSjYxgnO/cbc31cc055c1229d649f5fc8447b85a0/CoC_SC016_ClashGames_KO_860x1320_Still_Inbox_v02_gc_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 01 Jul 2024 08:00:04 +0000</pubDate>
    </item>
  </channel>
</rss>
