<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Sun, 19 May 2024 03:32:38 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_EnANb/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_EnANb/friend"&gt;👉카톡하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">wJjt5gJgQNjFSzlVkSXLEYS0Lej-Z1V5ssmjXBHsCwo</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/38M8IjpnN4ij5Z6FZxA8xcSDeR6ijjSCYJUL0eVPKDI/185734d998fdb1a968b67df21ce1b20b/1408523498_1684218737.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://clashofclans.inbox.supercell.com/#/ko/news/7wRuQejma7mbgsBH3BE6cg</link>
      <description>&lt;br&gt;
&lt;a href="https://clashofclans.inbox.supercell.com/#/ko/news/7wRuQejma7mbgsBH3BE6cg"&gt;👉확인하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6BmJJkWH5m2fe4l8K8ENdU</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7jaqaHfPDgpZHvWuDsrvfh/6a0aa00f8c406746f37979bf590fd571/PC__-____860x1320_.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 25 Oct 2023 07:42:33 +0000</pubDate>
    </item>
    <item>
      <title>승리를 부르는 이름, 홀란드! </title>
      <link>https://youtu.be/4egLThCHtJQ?si=oxpO5ZTBtM6J6RXJ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/4egLThCHtJQ?si=oxpO5ZTBtM6J6RXJ"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5Womi9S7zUeyilzRjvrRF4</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Rkw4DwwBuknvglDiO5Xxp/71f471ef9051d50d530b441c94b5534c/carousel_9x16_Haaland.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Apr 2024 05:00:50 +0000</pubDate>
    </item>
    <item>
      <title>홀란드와 함께 클래시 이벤트</title>
      <link>https://youtu.be/jNVmaVsELSk?si=J1C3eGh61_P0mGLP</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/jNVmaVsELSk?si=J1C3eGh61_P0mGLP"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">SGcJw0R6e1V1SMgWAckD5</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/gt8DIdKhf41GB0Q8h8ZV5/49542b2aad0ca7116d8b2e9b7a275ed5/0506_COC_____-__-___-_______-Carousel__2_.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 06 May 2024 12:05:02 +0000</pubDate>
    </item>
  </channel>
</rss>
