<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Mon, 24 Jun 2024 22:32:03 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/PDQHFHD-k4s</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/PDQHFHD-k4s"&gt;👉Guarda 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2o2SG4aAPnPDCwmGudkVfL</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/3un4OQ7qTCNYx42pz1lQ5f/0ce6be9fd09887f7e19279c00ae596df/IT_CoC_SC015_WildWest_EN_860x1320_Still_Inbox_v02_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sat, 01 Jun 2024 08:00:03 +0000</pubDate>
    </item>
    <item>
      <title>Clash On - Aggiornamento di giugno</title>
      <link>https://youtu.be/q2_YqPI_F1Y</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/q2_YqPI_F1Y"&gt;👉Guarda ora!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1nJN3MC9WCJbG7q5jjSXRH</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7eEcELzWrWJxhRlRefdWJk/c97c5633afba941210030dfb7d385f7b/Carousel-ClashOn-JuneUpdate.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 18 Jun 2024 08:06:19 +0000</pubDate>
    </item>
    <item>
      <title>Evento Eroi illimitati</title>
      <link>https://youtu.be/tAnC8Hvqhm8</link>
      <description>&lt;h1&gt;PROGRESS: 97.74%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/5Pr90iGWiiFoM2f7cznsnM/02286cb1caf4acc78420669c3b160b4d/12_days.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/oYfPfy2Cji8i0NbqjRQGj/b891e36b7f6379b5ce7cc5e194f5da89/9_days.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/4SeF7BNqO7PNNlDPQQE7TU/50f182fe55306515fd8b7021c4837936/6_2_.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6lXQMeDdQuvdyVBnGmjpXF/03029d5e99040dbcaa0c6968e4ef2f9a/3-_NEW.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/20fyHaGx9KshQ7Rk66WCcE/8a91d970150833cdf59a71dcd1b11e31/1_2_.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtu.be/tAnC8Hvqhm8"&gt;👉Guarda Video👈&lt;/a&gt;</description>
      <guid isPermaLink="false">Ya4LzJabqbDQyoSKPUik5</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/4XaCoQWbRgh68BLvX70PuA/f5fc7ad7610484834b018f4134ef79e7/EVENT_START_-_CAROUSEL.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 24 Jun 2024 08:08:16 +0000</pubDate>
    </item>
  </channel>
</rss>
