<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Fri, 09 Aug 2024 21:28:56 +0000</lastBuildDate>
    <item>
      <title>Stagione degli anime</title>
      <link>https://youtu.be/aE10HERgL-4</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/aE10HERgL-4"&gt;👉Vai 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2IN7H6eJIBSIL3qmoizVIh</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7xWVlVNbXmZBLdeu2KClou/c9ff941145806ef1f41e951dd5b997cc/v3_inbox_clashofclans_animeseason.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Aug 2024 08:00:04 +0000</pubDate>
    </item>
  </channel>
</rss>
