<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>it</language>
    <lastBuildDate>Thu, 07 Nov 2024 22:35:10 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">3sTuYxRBZpmFo9vC3gy7rC</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/1FxobRPgtC4LdW6R6w6bWG/f6af2ae21549a88c7a20472dfc497de5/it_CoC_SC020_Justice_EN_860x1320_Still_Inbox_v01_nj_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 31 Oct 2024 13:00:04 +0000</pubDate>
    </item>
  </channel>
</rss>
