<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Squadbusters - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Squadbusters inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Sun, 10 Nov 2024 02:00:14 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://discord.gg/squadbusters</link>
      <description>&lt;br&gt;
&lt;a href="https://discord.gg/squadbusters"&gt;👉Join Discord!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4lGTM4X1xaUQzVwT9PzbL</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3cZfj8OZRHtMlhSxhwawQy/5f70c1664a4488ce3d5fe0777b4ee5dc/discordv2.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 May 2023 20:19:17 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_IhgxcG/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_IhgxcG/friend"&gt;👉친구하기! 💖👈&lt;/a&gt;</description>
      <guid isPermaLink="false">aXCrIliVToqCrSInu5uoJ</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/5jMRa1fU6g9eFXZrBAmux2/83f23b0f70c1a2111e0dd54f6bcd8680/________________.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 31 May 2024 05:03:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/8BCod_NjEbo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/8BCod_NjEbo"&gt;👉영상 보기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6eLtAwtWvwHGWP1sgfcNIi</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/18RbDhymjp9uA7JVfR9wdf/478a1c7b50620695d6066190373bfeb5/Transformers_Feature_Art_1080x1920.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 11 Sep 2024 11:11:56 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/LCKxH-8dyGY?si=jEkoBtdknOjXP-Rw</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/LCKxH-8dyGY?si=jEkoBtdknOjXP-Rw"&gt;👉지금 시청하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">snf63LXWObdadeGhVAZHS</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3lokaQK0hhHejQYXDtCxJ7/8182feef802cfe28c712b026ba7672d0/SquadUp__Default.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 21 Oct 2024 07:10:49 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtube.com/shorts/6flbmGnHPcM?si=TuCW0vWJZp2gs4GJ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/shorts/6flbmGnHPcM?si=TuCW0vWJZp2gs4GJ"&gt;👉슈.아.스의 정석!❄️👈&lt;/a&gt;</description>
      <guid isPermaLink="false">54odTnn2AKzug4CYUuEX47</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1OboLH0CkYF8A33dV67oPX/c96ccd6955bb40ac6b20b37b93de390f/2W_0708____________________________.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Jul 2024 04:35:49 +0000</pubDate>
    </item>
  </channel>
</rss>
