<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Squadbusters - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Squadbusters inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Wed, 28 Aug 2024 12:53:04 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://discord.gg/squadbusters</link>
      <description>&lt;br&gt;
&lt;a href="https://discord.gg/squadbusters"&gt;👉Join Discord!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4lGTM4X1xaUQzVwT9PzbL</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3cZfj8OZRHtMlhSxhwawQy/5f70c1664a4488ce3d5fe0777b4ee5dc/discordv2.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 May 2023 20:19:17 +0000</pubDate>
    </item>
    <item>
      <title> </title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">5iVRn2WEJKcaCmbVI29Upi</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3zExNhWhiM8yB9MQTTanTD/d6fa59de855691f614efb50ee4f3e47c/caroussel_welcome.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 Apr 2024 12:30:53 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=6mEMO6o6VqI</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=6mEMO6o6VqI"&gt;👉영상 보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5wE7gHUbA7qq74JAS9vyW</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1sgYS1aqg9mZVj844Pgywj/15867d0c7704bbf8c56dd5affd7a896b/carousel_launch_announcement.jpg?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 25 Apr 2024 11:45:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>http://pf.kakao.com/_IhgxcG/friend</link>
      <description>&lt;br&gt;
&lt;a href="http://pf.kakao.com/_IhgxcG/friend"&gt;👉친구하기! 💖👈&lt;/a&gt;</description>
      <guid isPermaLink="false">aXCrIliVToqCrSInu5uoJ</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/5jMRa1fU6g9eFXZrBAmux2/83f23b0f70c1a2111e0dd54f6bcd8680/________________.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 31 May 2024 05:03:32 +0000</pubDate>
    </item>
    <item>
      <title>이모티콘 파티!</title>
      <link>https://youtube.com/shorts/NdiVo-Hs-1o?si=ar13AtcbPkxAsjqB</link>
      <description>&lt;h1&gt;PROGRESS: 100.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ - 150M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1AyTEAX0ms9BEhwVyqqKTO/1b3e8e28389cd26ea6d429c33fdcdbfd/reward5_emote_pack_x5.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 100M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/73FE6HBDtsMbBlQRASNa4r/0674126549d69379b3999dd50dec9e33/reward4_Skin_RetroFutureColt.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 50M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/77r3AbpFw4VoYsIY5dodeH/bc71ed7a5abf9783e62ef02b01963fe6/reward3_Colt_babies_x50.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 25M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3WzSsMxzmaPzTYZygL2PM/4c3cae580dccac61298b5e80fbff93c7/reward2_style_tickets_x300.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 10M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4JT1CDQWkOXILN7WVuiVkc/dbf7266f8bcb8f31b2f0fe04995861e9/reward1_emote_pack_x1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtube.com/shorts/NdiVo-Hs-1o?si=ar13AtcbPkxAsjqB"&gt;👉📺 영상 보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">FjlRHC9HMrG02rkVhVwIf</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/2TfGDDrihybMRsBSuaKjLF/c5173cb558c513ffc57e61ff8cbe5238/bg_tracker_860x1080.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 22 Aug 2024 07:01:43 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtube.com/shorts/sDYFQRbEehM?si=-kZoUSplfBHsOCP8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/shorts/sDYFQRbEehM?si=-kZoUSplfBHsOCP8"&gt;👉8편 (feat. 이모티콘 파티!)👈&lt;/a&gt;</description>
      <guid isPermaLink="false">54odTnn2AKzug4CYUuEX47</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1OboLH0CkYF8A33dV67oPX/c96ccd6955bb40ac6b20b37b93de390f/2W_0708____________________________.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Jul 2024 04:35:49 +0000</pubDate>
    </item>
  </channel>
</rss>
