<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Sun, 18 Aug 2024 09:30:09 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">MQIjWnSkrNKu8-PNjIOWfjRM4by76fM50-UDIsI9RTY</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/mNsuB77vbwDSnE0tgfK2a3kfb5WluCODhSyz9r3QyBQ/0e50746c4b9e53f0dc7a7a3e70e4c7de/recruitment-group-ES.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 28 Sep 2023 13:26:37 +0000</pubDate>
    </item>
    <item>
      <title>Temporada del anime</title>
      <link>https://youtu.be/aE10HERgL-4</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/aE10HERgL-4"&gt;👉¡Ir! 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2IN7H6eJIBSIL3qmoizVIh</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7xWVlVNbXmZBLdeu2KClou/c9ff941145806ef1f41e951dd5b997cc/v3_inbox_clashofclans_animeseason.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Aug 2024 08:00:04 +0000</pubDate>
    </item>
  </channel>
</rss>
