<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Fri, 14 Feb 2025 04:36:45 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/yfh-vcsOrSI?si=wwHQVDFF3hMLT7-q</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/yfh-vcsOrSI?si=wwHQVDFF3hMLT7-q"&gt;👉¡Mirar!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1SxyaekM0VfjOkXtMHhogP</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6uwFr7iQgDwliwmLirGdoY/49abbd46b88f6513e33d745e6665abad/ES_CoC_SC023_LNY25_EN_860x1320_Still_Inbox_v04_NJ_eyestorm.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sat, 01 Feb 2025 08:04:26 +0000</pubDate>
    </item>
    <item>
      <title>Ya llegó la actualización de febrero</title>
      <link>https://youtu.be/laB_cIDol4A</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/laB_cIDol4A"&gt;👉Ver ahora👈&lt;/a&gt;</description>
      <guid isPermaLink="false">633ieYcywPri5EjSZAyMzT</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/8vIbWOd7AOTOCDwERsHH3/d5aae6ce50020762b904c52740955adf/FEBUPDATE-OTHERLAN.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 10 Feb 2025 10:11:05 +0000</pubDate>
    </item>
  </channel>
</rss>
