<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Tue, 07 Jan 2025 04:36:35 +0000</lastBuildDate>
    <item>
      <title>Ayuntamiento de nivel 17 y un nuevo héroe</title>
      <link>https://youtu.be/1gM7yMvwut0</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/1gM7yMvwut0"&gt;👉¡Ver ahora!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3jMi5hN4VXUfuSE3ByOzwj</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2cLm3aaQal6unPcvMMxDTK/7fc06350fccd89d3927cf98b4f3a0a66/Pop_up.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 25 Nov 2024 10:03:11 +0000</pubDate>
    </item>
    <item>
      <title>Evento: Controla a los héroes </title>
      <link>https://youtu.be/KKruiSgciok</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KKruiSgciok"&gt;👉¡Ver ahora!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3NCu1rUiH46L1Cc4yskLpK</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/y8ct5xwVa5TbaXYztU7XF/27310419e2bd4c12b88ddb54f38f0e0f/CoC_Controllable_Heroes_Popup_Textless.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 04 Dec 2024 08:04:22 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/39Ue2QsWKA8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/39Ue2QsWKA8"&gt;👉Ver 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7pzbxGxwjUcbFxrp0mcLch</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/66ox6Phlbp667PwcCIU6TP/5fefc04a9fa166b073aaa84588e5d469/CoC_SC022_Fire-Ice_EN_860x1320_Still_Inbox_v01_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 01 Jan 2025 08:00:05 +0000</pubDate>
    </item>
  </channel>
</rss>
