<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Sat, 08 Mar 2025 15:29:01 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-4/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-4/"&gt;👉Compre já!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5t1cLDOuGPg7IvYlEeKFhn</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/23PlH9WssjCUKmCCPxeOSp/f0d994c152e2b6ee0560aab985f50230/DF_Clsh-Comics_Inbox_vol4DF_CLASH-COMICS_BOOKS-OF-CLASH-VOL-4-NewsTab-CR.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 08 Nov 2024 16:35:35 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/pt/news/4EENsLxP1w90PW8x0qk5Sw"&gt;👉Ler👈&lt;/a&gt; -- &lt;a href="https://youtube.com/shorts/HFwyDKK5A1U"&gt;👉Assistir👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4I8CuWMjGDEEYJaLplkU3n</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/PzePY6QtizLYhgU1j5Oup/5c1594b090328553741561972598be73/SUP4099_Season_69_Season_Carousel_Image-960x764.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 03 Mar 2025 09:04:08 +0000</pubDate>
    </item>
    <item>
      <title>Ajustes de balanceamento de março</title>
      <link>https://clashroyale.inbox.supercell.com/#/pt/news/6xdNAfNNcCbKFinFR5iU6Z</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/pt/news/6xdNAfNNcCbKFinFR5iU6Z"&gt;👉Ler👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3vbedIcWdaFO9NAQDSV6R9</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/5xcskfLwz8vRtFE9LJdjNz/5d0029dbad5e2dcb5fe7ec0cd342b209/CR_Balance_Changes_Jan2025.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 04 Mar 2025 08:48:21 +0000</pubDate>
    </item>
  </channel>
</rss>
