<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Fri, 28 Jun 2024 09:29:35 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/qPuDHfgeyss</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/qPuDHfgeyss"&gt;👉ASSISTA!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">40tCj58bv1eu4feJiWnM4e</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7gSInRwuzWLVlMASs2ZFs/dd701655af976d91f22d4b3e78a14c8e/PT_CR_S52_Season_Carousel_Image.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 02 Oct 2023 10:46:25 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=SfoPTgt4jXs</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=SfoPTgt4jXs"&gt;👉ASSISTA!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">79Rbnc9qB6Ye8QLvdPtaTv</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/DV4QXovsaNfSO04IDAvU8/7748aefbe6965c3faeb45048b96af531/PSD07_TavernFight_Anim.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sat, 04 Nov 2023 20:13:24 +0000</pubDate>
    </item>
    <item>
      <title>NOVA TEMPORADA</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/shorts/lnz_NAHlqvw?feature=share"&gt;👉ASSISTA!👈&lt;/a&gt; -- &lt;a href="https://clashroyale.inbox.supercell.com/#/pt/news/3K2ngiWlxf6K0U7JVLsUJD"&gt;👉SAIBA MAIS!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5D3rYRX37WkNLbMO5xEuHr</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/01y5OZG1b0GWjyMtKjSWgt/128b49d86060398f64ca74ef27439037/CR_S53_Season_Hero_Cover__1_.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 06 Nov 2023 09:12:17 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-3/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-3/"&gt;👉Comprar!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">yB7TCmDIExMubeOewgmPH</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7C8MqTPcLF06uqNt9rGvBk/38a800c4833e105760e52f90a5a265b6/BOC_CR_NewsTab_Vol3_NoText__1_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 28 May 2024 17:00:03 +0000</pubDate>
    </item>
    <item>
      <title>ATUALIZAÇÃO DA RAINHA GOBLIN</title>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=Fh-z_EhbtL4"&gt;👉Assistir!👈&lt;/a&gt; -- &lt;a href="https://clashroyale.inbox.supercell.com/#/pt/news/tu0og4AGbhV2bBGq074TK"&gt;👉Ler!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">DpYm0BKU6JZzbqCoY42Gx</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/P3mr2Ig82tnMt5tG98lIV/8a5041d1ae577fc0af0b4b5de9d4f177/CR_S60_Season_Carousel_Image_GoblinQueen.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 17 Jun 2024 10:12:24 +0000</pubDate>
    </item>
  </channel>
</rss>
