<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Hayday - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Hayday inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Thu, 21 Nov 2024 03:06:07 +0000</lastBuildDate>
    <item>
      <title>Today's Event!</title>
      <link>hayday://OpenEventBoard</link>
      <description>&lt;br&gt;
&lt;a href="hayday://OpenEventBoard"&gt;👉Más detalles👈&lt;/a&gt;</description>
      <guid isPermaLink="false">C_cuHmmb-LEriPwwH2WQfwnsVGVO19O220gLd10AHVw</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/cRcj4pkDW6Rh5ThtDKjVYxZNHJcNMJ9ukUsj4Qvsr1w/cc11b4a0a60932be2be4732bfa32eef7/1379298962_1625649229.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 12 Sep 2023 09:48:04 +0000</pubDate>
    </item>
    <item>
      <title>Eventos de septiembre</title>
      <link>https://youtu.be/WaVyT0fcSkw</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/WaVyT0fcSkw"&gt;👉Ver 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3Ee1XWJb2KlLn5maywbeMY</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/7JykYqvk5xhHntcoNf2VuD/9b6808b6aeff65e9d32d98b51d38388a/HayDay_Inbox2_Carousel_860x1320_DairyNews_2024.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sat, 31 Aug 2024 08:00:12 +0000</pubDate>
    </item>
    <item>
      <title>¡Una nueva actualización está en camino!</title>
      <link>https://youtu.be/Ay4hCFxeCKM</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/Ay4hCFxeCKM"&gt;👉Ver 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4qbFP9tUiFmsNjl3F8nP0B</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/2LgSQaYGv7ysY8WflrRXg6/784ae9f52e592200ee9e7779c51b6861/HayDayhalloweenl_Inbox_Carousel_860x1320.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 30 Sep 2024 09:42:19 +0000</pubDate>
    </item>
    <item>
      <title>Objetivo de Halloween</title>
      <link>https://youtu.be/a7J1VXst2Zw</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/a7J1VXst2Zw"&gt;👉Ver 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3HzcVNNySy4dPVQ79YAYgO</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/27uoFDEOjib7OR83SH1hxN/1efd278821c3cc99985638aaef7a8e2b/HalloweenMilestonePattern.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 15 Oct 2024 07:50:02 +0000</pubDate>
    </item>
    <item>
      <title>Eventos de noviembre</title>
      <link>https://youtu.be/lWLp_ptADNU</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/lWLp_ptADNU"&gt;👉Ver👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6ZgUvzEES1yIPAlHCOCgz</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/4cfyKPJkTQJ7SpQsCYZH8s/e8853092bea1e83916d4606fbb77d65e/HayDay_Thanksgiving_Inbox_Carousel_860x1320__1_.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 31 Oct 2024 08:00:04 +0000</pubDate>
    </item>
  </channel>
</rss>
