<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Boombeach - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Boombeach inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Fri, 18 Oct 2024 10:40:22 +0000</lastBuildDate>
    <item>
      <title>Connect with Supercell ID!</title>
      <link>https://youtu.be/Wu9okVSevBk</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/Wu9okVSevBk"&gt;👉WATCH!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">HCqCZVvU22QWpHvcs2hcw_tds4vm7dpPzfLwa77qVEk</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/26iHb1xKJDvm6hGB6pRXNV/0d72fd16521b3f730f46dee91437c576/SCID_BB_2.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 05 Sep 2023 13:49:30 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://supr.cl/SubBoom</link>
      <description>&lt;br&gt;
&lt;a href="https://supr.cl/SubBoom"&gt;👉SUBSCRIBE!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">c5cHri5X37qC435SQijrwazjaHwKRJoAH6Jev-sBZgw</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/z9sKQbAOGKwWllwM_U7xJT6fa5ucu5_qgzHlTHnongs/b2c874c865a003f5c74aa83db09295b1/396270855_1658920226.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 05 Sep 2023 13:49:33 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://onespecialday.org.uk/</link>
      <description>&lt;br&gt;
&lt;a href="https://onespecialday.org.uk/"&gt;👉Learn More!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3aqpm0hsKXjVRTCq8n8Ixo</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/JiStBiePE5HWW13KahMsy/7d268636c8e6f6276b124dea9ea6824b/SC-SpecialDay-2022-HD-860x1320.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 06 Oct 2023 09:16:59 +0000</pubDate>
    </item>
    <item>
      <title>Remote Hack</title>
      <description>⏱️ [TIMER] set to 23:00, 25.10.2023 (UTC) - Expired!</description>
      <guid isPermaLink="false">2AAAggkOCwJU1x6e5CTBUs</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/1gNkW0DXRHsaK9dr0pqhOn/97b2b626394ec090901bb17167180fc7/Carousel_V5.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 06 Oct 2023 16:45:23 +0000</pubDate>
    </item>
    <item>
      <title>Cryo Bomb</title>
      <description>⏱️ [TIMER] set to 23:00, 19.11.2023 (UTC) - Expired!</description>
      <guid isPermaLink="false">4EOR7aLNeyxFYuHeZKH23R</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/6w5QtMwcXBtlkvhN3x7KVo/29fb965958e46572ba8f86b8b2d2bcdb/Carousel_V4.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 13 Oct 2023 11:54:58 +0000</pubDate>
    </item>
    <item>
      <title>Crystal Shield</title>
      <description>⏱️ [TIMER] set to 23:00, 17.12.2023 (UTC) - Expired!</description>
      <guid isPermaLink="false">5027XXwazxqS4JKxuzNQLw</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/72udW6qowLDiLaGZokGtan/0eeae1f4f31f52f85da2cd4e2f4990ec/Carousel_V2.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 15 Dec 2023 16:48:09 +0000</pubDate>
    </item>
    <item>
      <title>Explosive Drones</title>
      <description>⏱️ [TIMER] set to 23:59, 10.01.2024 (UTC) - Expired!</description>
      <guid isPermaLink="false">6VzFbkV9oX9yLJBftD3RHC</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/vQFhFhdTGNnt5hkNkwsAa/219950f9558af52c84fcf8914dae71ee/Carousel_V2.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 08 Jan 2024 16:44:01 +0000</pubDate>
    </item>
    <item>
      <title>Scorcher &amp; Mech Mania</title>
      <description>⏱️ [TIMER] set to 22:59, 14.04.2024 (UTC) - Expired!</description>
      <guid isPermaLink="false">38qFDFUazJXagCt9p0ZdjL</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/5xqPDetGIy4dl1HGinslH4/1692dcb9827f19d6dbe98e2ceaddd2d4/Carousel_V4.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 12 Apr 2024 14:03:29 +0000</pubDate>
    </item>
    <item>
      <title>Cryo Bomb</title>
      <description>⏱️ [TIMER] set to 22:59, 17.04.2024 (UTC) - Expired!</description>
      <guid isPermaLink="false">2zDc3i52sUYf3sSjOIaVoW</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/Ycjxlulc6HUsdtfdNejrM/88996bb390ce4aabb260c673342d6b02/Carousel_V3.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 15 Apr 2024 08:45:31 +0000</pubDate>
    </item>
    <item>
      <title>Heavy Mania</title>
      <description>⏱️ [TIMER] set to 22:59, 18.08.2024 (UTC) - Expired!</description>
      <guid isPermaLink="false">7rWtCvtEL1CjlMGX4hqED0</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/p3f9RNlppMSmXXkc6CyBJ/4740e56e60edc9dbb871a87d89b68f7c/Carousel_V3.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 16 Aug 2024 09:19:20 +0000</pubDate>
    </item>
    <item>
      <title>Rifle Mania</title>
      <description>⏱️ [TIMER] set to 22:59, 15.09.2024 (UTC) - Expired!</description>
      <guid isPermaLink="false">47qMgJ4EubXlvHOBJckxy</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/240PZY2uSYcCvVd0emRyS7/28f56c719956f19a16af76eca9747305/Carousel_V3.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 13 Sep 2024 10:01:49 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://onespecialday.org.uk/</link>
      <description>&lt;br&gt;
&lt;a href="https://onespecialday.org.uk/"&gt;👉Learn More!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">ChFDqTvN0NQMUuPasUmNv</guid>
      <enclosure url="https://boombeach.inbox.supercell.com/cf7umh1jvp53/110GzCplcHVepwCh8C1RgM/6a53a470666919e45aba880727a6d207/SC-SpecialDay-2024-HD-BB-banner_860X1320_JPG.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 20 Sep 2024 11:33:56 +0000</pubDate>
    </item>
  </channel>
</rss>
