<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Squadbusters - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Squadbusters inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Tue, 14 Jan 2025 05:33:19 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://discord.gg/squadbusters</link>
      <description>&lt;br&gt;
&lt;a href="https://discord.gg/squadbusters"&gt;👉¡Únete a Discord!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4lGTM4X1xaUQzVwT9PzbL</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/69ZdLKMJPo1Cobt9nLpjAe/21ecf5bd9b5b599f4d87f0e0bbe3f65c/spanish_discord.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 May 2023 20:19:17 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>youtube.com</link>
      <description>&lt;br&gt;
&lt;a href="youtube.com"&gt;👉¡Ver!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2ZhWUtpgNrJVLKARChBtXF</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3EIa0S8HPO3jywcMoCvewL/ac58764d62efd5a09f0550cc69caf729/Ice_Feature_Art_1080x1920.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 24 Jun 2024 10:14:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>youtube.comhttps://youtu.be/QCt_vMleTiE</link>
      <description>&lt;br&gt;
&lt;a href="youtube.comhttps://youtu.be/QCt_vMleTiE"&gt;👉¡Ver! 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1NcQL9ulk3kIV3gZ7uDwqu</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3UZeMAxnutZvMMFIptFmPF/6f2135de2db430d7c5074b8582f77083/inbox.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 14 Aug 2024 07:32:37 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/8BCod_NjEbo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/8BCod_NjEbo"&gt;👉¡Ver!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6eLtAwtWvwHGWP1sgfcNIi</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/18RbDhymjp9uA7JVfR9wdf/478a1c7b50620695d6066190373bfeb5/Transformers_Feature_Art_1080x1920.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 11 Sep 2024 11:11:56 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/XjsF9kLEdJo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/XjsF9kLEdJo"&gt;👉¡Ver!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">snf63LXWObdadeGhVAZHS</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3lokaQK0hhHejQYXDtCxJ7/8182feef802cfe28c712b026ba7672d0/SquadUp__Default.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 21 Oct 2024 07:10:49 +0000</pubDate>
    </item>
    <item>
      <title>Desafío de 1 M de suscriptores</title>
      <link>https://www.youtube.com/@SquadBusters</link>
      <description>&lt;h1&gt;PROGRESS: 100.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ - 1 millón &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1EN0REcBfjAYdKgvDQruXu/94a2aad9b1190fe7033e51d759e49940/1mil.png?w=302&amp;h=294&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 950 000 &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/2tFYTSaqWErIPmEcWlYSRi/09d3b679888275df18feab0c2a04a009/950.png?w=294&amp;h=294&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 900 000 &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/5OJH6NXTwEs0xP9OQ0PHb5/2dd60d3020e3278484094b654e744250/900.png?w=294&amp;h=294&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 850 000 &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/BPoWdygIf2xqzNpUM0WqM/93c8d6c280c33fa6c89b658b68d3cf27/850.png?w=294&amp;h=294&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 800 000 &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1DEzE7SXMJjNGxYxyo6Ghu/b85dd50e8d47d3b1ab4a4e51a8f49507/800.gif?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://www.youtube.com/@SquadBusters"&gt;👉Suscribirse👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3ssKzYAhG</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/2aWWOVcSdtw7DYQd4ekxFf/df73904d41f0fb557d02befe7d8e62ab/YouTube_Progress_tracker_background_with_logo.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 09 Dec 2024 13:58:50 +0000</pubDate>
    </item>
    <item>
      <title>Desafío de 2 M de suscriptores</title>
      <link>https://www.youtube.com/@SquadBusters</link>
      <description>&lt;h1&gt;PROGRESS: 69.40%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 2 millón &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4XsPAtxbHY9YhBBGkfMVv0/c50de69644f5fb50fd5c31a7566405cf/Star_tokens.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1.5 millón &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/5KBM9b4s1ZNyHqdRl4gMe9/ce6b5544038b5a93a0a62b8b69995791/DragonChicken_emote_tickets.gif?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1 millón &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1psy6hvVNV0GTQZj4CHDYH/7c5e54c2b6dea20c4a881956c90a35db/Totem-chests.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://www.youtube.com/@SquadBusters"&gt;👉Suscribirse👈&lt;/a&gt;</description>
      <guid isPermaLink="false">40c7W8boX</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/2aWWOVcSdtw7DYQd4ekxFf/df73904d41f0fb557d02befe7d8e62ab/YouTube_Progress_tracker_background_with_logo.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 10 Dec 2024 16:35:49 +0000</pubDate>
    </item>
  </channel>
</rss>
