<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>tr</language>
    <lastBuildDate>Thu, 25 Apr 2024 11:30:40 +0000</lastBuildDate>
    <item>
      <title>Nisan Oyun Geliştiricileri Güncellemesi!</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">5isTbGikVWnjRKJ3mfzj4S</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Nn024ifeJRC9QR8kh4IeJ/9b54f6308c633cb0c759b901cd9c0916/tw_20240415_Carrousel-April_Update.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 15 Apr 2024 09:11:46 +0000</pubDate>
    </item>
  </channel>
</rss>
