<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Sat, 08 Jun 2024 08:32:45 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/brawlstars"&gt;👉Youtube👈&lt;/a&gt; -- &lt;a href="http://supr.cl/tiktok-inbox"&gt;👉TikTok👈&lt;/a&gt;</description>
      <guid isPermaLink="false">BzX1fvouBLXhZgvIeyhgKd8BCUH6J097eDWA_vxc22k</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:54 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/oUW1RPbbqJE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/oUW1RPbbqJE"&gt;👉Brawl Talk👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2azxxVt6rp53SUtQ5J9dqz</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5ImvZ7Iw3Oxw62gqyQyS4w/eddfc79cff055ae6843b7137f034220b/0419_BT_Mutations_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 19 Apr 2024 12:17:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/78fQeeEcWMQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/78fQeeEcWMQ"&gt;👉Ver👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1H3PSSPguxStqvTJxPyMYr</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3nLoNEoFgc8fC7SW0osJtw/a710f59038b5b4142bbdb50667e981bb/0426_Godzilla_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 29 Apr 2024 08:02:08 +0000</pubDate>
    </item>
    <item>
      <title>¡Próximo modo de juego de la comunidad!</title>
      <guid isPermaLink="false">6oZxpgV7GjdU1J0sPfhMXw</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/FBLZNSImGcYbHtuQwUJp1/5e5f521c32efd5ed0615115313c15ca2/0522_Game_modes_poll_volley_basket_duels_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sun, 26 May 2024 14:40:22 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉Draco👈&lt;/a&gt; -- &lt;a href="https://youtu.be/R1hiRWjRJVk?si=q0juJbkTmMhX3dDp"&gt;👉Ver👈&lt;/a&gt;</description>
      <guid isPermaLink="false">76PQqAcT7zm1S6mxjZj66j</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6mYtFCRguSb94BP7QFcg3B/c5f48895f29ef685a1c10e09656ae091/0530_Draco_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 04 Apr 2024 09:05:56 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉Ciberlucha👈&lt;/a&gt; -- &lt;a href="https://youtu.be/3jO-O3OF5Cs"&gt;👉Ver👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XQIKnrUZf9aPv8UHRN1Kh</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4bqWxQVri0EG4QIuDSP1VB/e338588cfbcc9aa33d15a0b343786145/Cyberbrawl_Season_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 06 Jun 2024 12:30:45 +0000</pubDate>
    </item>
  </channel>
</rss>
