<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>es</language>
    <lastBuildDate>Tue, 27 Aug 2024 13:31:27 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/brawlstars"&gt;👉Youtube👈&lt;/a&gt; -- &lt;a href="http://supr.cl/tiktok-inbox"&gt;👉TikTok👈&lt;/a&gt;</description>
      <guid isPermaLink="false">BzX1fvouBLXhZgvIeyhgKd8BCUH6J097eDWA_vxc22k</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:54 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/ndSA3_MOYkM?si=34XKtLI_ph7dsPsK</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ndSA3_MOYkM?si=34XKtLI_ph7dsPsK"&gt;👉¡Clancy!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6CWHdZwGtjKGemUPp8bnf2</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5J0DYjRJ7VM18OONgHvIVi/a5b689c379e4f4d091f7411071286e4d/0725_Clancy_Early_Access_800x1161_v1.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 25 Jul 2024 07:19:26 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/RJw3Y-3EBFo</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/RJw3Y-3EBFo"&gt;👉¡Paintbrawl!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2sfs1Cg5UrxaNVwIMc1g1j</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/GtE0HOJbM0KSDFIg1dAqL/d6623977c1cb6f96b177675a266839d9/0801_Paint_Brawl_BP_Start_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 01 Aug 2024 09:03:16 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;h1&gt;PROGRESS: 100.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4t8qU8PEymTUxvD2xCZZM8/3aaeda59b6044122a4ad5ddc4a454fa6/starbox_bg.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1Bo97XYkYhwawkcZhjyKoz/4261fdccf37ab66e117f4209829400d6/mbox1080x1080_x2.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/39vFaLusdd47CCSxozoKts/4bf27a7e5f16a80428283f0e6ef79bc3/mbox1080x1080.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://brawlstars.inbox.supercell.com/#/es/news/1OVipuwX4lNoMuLadusOlO"&gt;👉Votar👈&lt;/a&gt; -- &lt;a href="https://youtu.be/DH-Xth300YE"&gt;👉Ver👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2l7xpN9iNDCRfygGTITa6K</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/cbIFq8ksX0azOFsyjrpB3/6c9a9ab3f4e412649beb07325d44b965/0802_2Community_event_Assets_800x1160.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 15 Aug 2024 07:58:17 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/KEwxr8I4Gl8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KEwxr8I4Gl8"&gt;👉¡Brawl Talk!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2kHnQSqjuGk3bnciswwcOO</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3dgIju8ge3fLMrRFn94xF1/c19c3f8ae3cd51b4bec83ffbe7bcfe85/0822_Brawl_Talk_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 23 Aug 2024 08:17:51 +0000</pubDate>
    </item>
  </channel>
</rss>
