<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>zh</language>
    <lastBuildDate>Thu, 25 Jul 2024 23:29:35 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/zh/news/1x62odjI4OkIgZfBs6qQfR</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/zh/news/1x62odjI4OkIgZfBs6qQfR"&gt;👉了解詳情!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5h34SJrc8HhCR5W6lkIHt7</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/1HAP1WoTFeYPE9g1z6tEvN/8f315c5a5af143798e897312ce5b027f/tw_20231026_cr_creators_banner.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Oct 2023 04:18:26 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/zh/news/3AXZxOIJzufgsp2xJWrlrR</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/zh/news/3AXZxOIJzufgsp2xJWrlrR"&gt;👉了解詳情!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6R0DZAqmi6rb6t7QOJma63</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/15whD3G8AeTnzj649tpvpX/5b162fc76ca6213935b90d625ae11404/tw_20231201_CR-Roadmap-960x764.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 01 Dec 2023 15:23:17 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-3/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-3/"&gt;👉立即獲取!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">yB7TCmDIExMubeOewgmPH</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7C8MqTPcLF06uqNt9rGvBk/38a800c4833e105760e52f90a5a265b6/BOC_CR_NewsTab_Vol3_NoText__1_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 28 May 2024 17:00:03 +0000</pubDate>
    </item>
  </channel>
</rss>
