<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>zh</language>
    <lastBuildDate>Fri, 08 Nov 2024 07:30:21 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/zh/news/1x62odjI4OkIgZfBs6qQfR</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/zh/news/1x62odjI4OkIgZfBs6qQfR"&gt;👉了解詳情!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5h34SJrc8HhCR5W6lkIHt7</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/1HAP1WoTFeYPE9g1z6tEvN/8f315c5a5af143798e897312ce5b027f/tw_20231026_cr_creators_banner.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 26 Oct 2023 04:18:26 +0000</pubDate>
    </item>
    <item>
      <title>11月主題季</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/zh/news/2qEDuoi4Kb7aqZ5i5LCKkD"&gt;👉查看詳情👈&lt;/a&gt; -- &lt;a href="https://youtube.com/shorts/oDeRicecJgU?feature=share"&gt;👉立即觀看👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6cQuXTToAQelQpDQ4rs2V6</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4RjveS4fHFljBuj98772bt/b6546004480bc6e143c38e26c5f8cc43/SUP3965_Season_65_Season_Carousel_Image-960x764.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 04 Nov 2024 08:45:02 +0000</pubDate>
    </item>
  </channel>
</rss>
