<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Mon, 16 Sep 2024 13:37:38 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ko/news/6g54VT7JKlhc8E8g413MXe</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ko/news/6g54VT7JKlhc8E8g413MXe"&gt;👉자세한 내용 확인!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">72R5uM2b8FY12FrBQb2C5a</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/662HgrQSl3D578KKixy4RW/8e872d586e4a13139a23814406ae4fae/CR-Roadmap-2024-960x764_KR.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 01 Dec 2023 08:19:15 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-3/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-3/"&gt;👉구매하기!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">yB7TCmDIExMubeOewgmPH</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7C8MqTPcLF06uqNt9rGvBk/38a800c4833e105760e52f90a5a265b6/BOC_CR_NewsTab_Vol3_NoText__1_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 28 May 2024 17:00:03 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ko/news/6fGNoLSaRUijALtrAyCWHY"&gt;👉읽어보기👈&lt;/a&gt; -- &lt;a href="https://youtube.com/shorts/jIOe_o22-Rw?si=6-WEXNLQ46AzpId6"&gt;👉영상 보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1Sz9a8IdfR1g3w67aaUyRb</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/2JcizUpqrP7nuyBKNrPIp2/3139bca8c5d717d2aaef411d33725099/0902_season63_inboxKV__960x764_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 02 Sep 2024 10:19:58 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/ZyAhsJF1-v0?si=N62wuNGZEMz6PGEH</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ZyAhsJF1-v0?si=N62wuNGZEMz6PGEH"&gt;👉영상 보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1fAqMnZXE2S1fpe2MdznBJ</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/2ykH9XOzuEDYg2PPWM2gB5/0d15dbe2d091e2404dab388321c34cb3/tw_20240912_TV_Royale_September_banner_KR.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Wed, 11 Sep 2024 15:15:02 +0000</pubDate>
    </item>
  </channel>
</rss>
