<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Wed, 20 Nov 2024 19:29:05 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ko/news/6g54VT7JKlhc8E8g413MXe</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ko/news/6g54VT7JKlhc8E8g413MXe"&gt;👉자세한 내용 확인!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">72R5uM2b8FY12FrBQb2C5a</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/662HgrQSl3D578KKixy4RW/8e872d586e4a13139a23814406ae4fae/CR-Roadmap-2024-960x764_KR.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 01 Dec 2023 08:19:15 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ko/news/2qEDuoi4Kb7aqZ5i5LCKkD"&gt;👉읽어보기👈&lt;/a&gt; -- &lt;a href="https://youtube.com/shorts/oDeRicecJgU?feature=share"&gt;👉영상 보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6cQuXTToAQelQpDQ4rs2V6</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3EoUOvU5DCy3HBHvMdXYxf/884aaaaf1b57144d3f166234c698c0b7/1104_season65_inboxKV__960x764_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 04 Nov 2024 08:45:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-4/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-4/"&gt;👉지금 바로 주문!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5t1cLDOuGPg7IvYlEeKFhn</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/61KJIaT5fJKBqJ667mwZIT/296027b31f3cca90a2736ff8d5f06fd8/1119_CR_Book-of-clash-vol4_inbox_960x764__KR.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 08 Nov 2024 16:35:35 +0000</pubDate>
    </item>
  </channel>
</rss>
