<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ko</language>
    <lastBuildDate>Tue, 07 May 2024 05:33:52 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ko/news/6g54VT7JKlhc8E8g413MXe</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ko/news/6g54VT7JKlhc8E8g413MXe"&gt;👉자세한 내용 확인!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">72R5uM2b8FY12FrBQb2C5a</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/662HgrQSl3D578KKixy4RW/8e872d586e4a13139a23814406ae4fae/CR-Roadmap-2024-960x764_KR.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 01 Dec 2023 08:19:15 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 84.75%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 30M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7tbUYKBnU2S8LrDIZX4tO7/09b09c2991f20c3b92ce0ed2150ece7e/Clash_royale-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3JEcSAqUol3WyaU9VTzMJL/01f56d0e6e648ae6cc414be002f44d13/Clash_royale-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/43CuYLH5eMclYBfvzQavmb/6dd79043c779bad487ce0a8dd3910958/Clash_royale-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/6kpNc36B59OnJABz6cjR1B/c45d5c49badd8a0bfc32f95d89e3b7eb/Clash_royale-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉스쿼드를 구성할 시간입니다! 슈퍼셀의 신규 글로벌 게임을 사전 주문하세요!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">67vMsuhYiLJDDtlRaI3bWh</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4BuKHgqfMUUHgdXhTc06Cz/a8831a51ce99b7ae0f39b848d2e0e751/royal-swirl.webp?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:03:59 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ko/news/2Vd5pMIios9xUcHXAytsWF</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ko/news/2Vd5pMIios9xUcHXAytsWF"&gt;👉읽어보기👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3YwqrSnOlmZY4Z4lguIibl</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/46MLZXglc1rluBY7GFACBM/b1634f1ec18e412e4d80ee0e8e8f6148/0506_season58_inboxKV__960x764_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 06 May 2024 09:00:03 +0000</pubDate>
    </item>
  </channel>
</rss>
