<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Squadbusters - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Squadbusters inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>zh</language>
    <lastBuildDate>Wed, 08 May 2024 03:32:54 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://discord.gg/squadbusters</link>
      <description>&lt;br&gt;
&lt;a href="https://discord.gg/squadbusters"&gt;👉Join Discord!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4lGTM4X1xaUQzVwT9PzbL</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3cZfj8OZRHtMlhSxhwawQy/5f70c1664a4488ce3d5fe0777b4ee5dc/discordv2.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 May 2023 20:19:17 +0000</pubDate>
    </item>
    <item>
      <title> </title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">5iVRn2WEJKcaCmbVI29Upi</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/3zExNhWhiM8yB9MQTTanTD/d6fa59de855691f614efb50ee4f3e47c/caroussel_welcome.png?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 22 Apr 2024 12:30:53 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=6mEMO6o6VqI</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=6mEMO6o6VqI"&gt;👉立即觀看!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5wE7gHUbA7qq74JAS9vyW</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/1sgYS1aqg9mZVj844Pgywj/15867d0c7704bbf8c56dd5affd7a896b/carousel_launch_announcement.jpg?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 25 Apr 2024 11:45:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.inbox.supercell.com/#/zh/news/3hYHeDGQ7SOoomaSThCsWY</link>
      <description>&lt;h1&gt;PROGRESS: 86.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 30M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/2np4LyRkTc9Tp77WnSoizP/054a6533e3d4fcbfff246a952a79d87b/squad_reward_4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/7zrx75ioDET6ngOLSKLnuW/f65d55def34c48d384f9223909f4aa1b/squad_reward_3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/6FMZA3OoWZEXINyhpdmPeG/d026ebbe2551d80a08849cfc975932e9/squad_reward_2.png.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4CWqewC3z2pboQVTwSow5V/86565a2086d607458e09ffffa628a7a2/squad_reward_1.png.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.inbox.supercell.com/#/zh/news/3hYHeDGQ7SOoomaSThCsWY"&gt;👉閱讀更多👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6I0udo3a6Muu8bHXviN1fx</guid>
      <enclosure url="https://squadbusters.inbox.supercell.com/epg71hpoul0m/4NXhZJZFtgA1fAR9h6PyWw/42669b1010ad31f733cd23079af2b26c/Squad-tracker-BG-ezgif.com-resize.webp?w=860&amp;h=1080&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:20:53 +0000</pubDate>
    </item>
  </channel>
</rss>
