<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>id</language>
    <lastBuildDate>Mon, 29 Jul 2024 06:38:09 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/brawlstars"&gt;👉Youtube👈&lt;/a&gt; -- &lt;a href="https://tiktok.com/@brawlstars"&gt;👉TikTok👈&lt;/a&gt;</description>
      <guid isPermaLink="false">EiOxy218iqo9kUtZikziPCl-CgAlxD42c584HkMlR5Q</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/0VRkrnLtKL9U2vSl3ZAtyxhzvDW7iQIWvQnZxi1U_sA/851b4934167b7c607a7fd8612fac48e0/1517787681_1606917955.jpg?w=800&amp;h=1161&amp;fit=fill&amp;f=center" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:49 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">3JnkVjcY87avb1zmM046ALkx-2fq9j0Qk9uMWGf7_V0</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/bJ9Hq6wCRDTTo6c-1MSqrEPBknC9wx-Dvb6uGOIyLdc/a19c98008531d34b6ad2cec6eac0f986/1224641994_1670333407.jpg?w=800&amp;h=1161&amp;fit=fill&amp;f=center" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:37 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>brawlstars://shop</link>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉Sam Boneka Beruang!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XszRXhu7gpQOaV9378g-IbVF63rXEtLy6tz8D708eII</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/AfWZrdSsKnteFmNzUorUy3B-AN-qN86leRnlnrxT3v0/2a464168b03f7bf7e2ffdf7aee6b5abb/1671294775_1676365323.jpg?w=800&amp;h=1161&amp;fit=fill&amp;f=center" length="0" type="image/jpeg"/>
      <pubDate>Fri, 24 Feb 2023 11:20:20 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://www.youtube.com/watch?v=Z-rH3lk-bjo</link>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=Z-rH3lk-bjo"&gt;👉Pergi!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6IwLReehYQPf2WKFzLYryK</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/7sUoLkuiNIhgNsuljO15Ho/b20fbbececa8150a0ffc99575877149a/1098519183_1677245100.jpg?w=800&amp;h=1161&amp;fit=fill&amp;f=center" length="0" type="image/jpeg"/>
      <pubDate>Mon, 27 Feb 2023 10:44:57 +0000</pubDate>
    </item>
  </channel>
</rss>
