<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>id</language>
    <lastBuildDate>Thu, 23 Jan 2025 08:37:39 +0000</lastBuildDate>
    <item>
      <title>Karakter Baru?</title>
      <link>https://youtu.be/i5Zgpf-woNM</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/i5Zgpf-woNM"&gt;👉Lihat!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4du43lu07aWYmv9KiJz2xy</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/79o760nTWkOyCSmqmEAqT3/b7d1549f3be45a8514af77878c7f3b58/MP.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 07 Nov 2024 12:10:05 +0000</pubDate>
    </item>
    <item>
      <title>Balai Kota 17 dan Pahlawan Baru!</title>
      <link>https://youtu.be/I34OX3u4kMI</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/I34OX3u4kMI"&gt;👉Tonton Sekarang!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3jMi5hN4VXUfuSE3ByOzwj</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2cLm3aaQal6unPcvMMxDTK/7fc06350fccd89d3927cf98b4f3a0a66/Pop_up.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 25 Nov 2024 10:03:11 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/wfWX4GwIIv4</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/wfWX4GwIIv4"&gt;👉Tonton Sekarang!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3NCu1rUiH46L1Cc4yskLpK</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6TRX8SGP9aBYZSTnnTc12q/747821c24b6f5aab7514483534f178be/Pop_up.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 04 Dec 2024 08:04:22 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/mNHmwJxxAgE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/mNHmwJxxAgE"&gt;👉Lihat!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7pzbxGxwjUcbFxrp0mcLch</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/782LyESmBjlactmp2SlsTF/12e6221f6124ce93facab08001afdda3/CoC_SC022_Fire-Ice_ID_860x1320_Still_Inbox_v01_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 01 Jan 2025 08:00:05 +0000</pubDate>
    </item>
  </channel>
</rss>
