<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>id</language>
    <lastBuildDate>Sat, 25 May 2024 19:32:57 +0000</lastBuildDate>
    <item>
      <title>Kemenangan punya Nama: Haaland! </title>
      <link>https://youtu.be/aClKEVh7Km4</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/aClKEVh7Km4"&gt;👉Tonton!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5Womi9S7zUeyilzRjvrRF4</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Rkw4DwwBuknvglDiO5Xxp/71f471ef9051d50d530b441c94b5534c/carousel_9x16_Haaland.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Apr 2024 05:00:50 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/LSY9mYASb2Q</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/LSY9mYASb2Q"&gt;👉Tonton!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1EIfxYH4wXUHdwcQw3Tmdn</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6OkKrvTwwSubQcgcs5KPaf/8ca3e9282760334f26e8599977ff7f7e/CoC_SC014_Football_ID_860x1320_Still_Inbox_v03_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 20 May 2024 15:20:58 +0000</pubDate>
    </item>
    <item>
      <title>Acara Komunitas MAKS</title>
      <link>https://youtu.be/e2uoCkSeVkw</link>
      <description>&lt;h1&gt;PROGRESS: 71.67%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/21rMdUL5EjvSKNDnsV8VDo/7ead7236b0108c44117e615d3e049d4b/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/21rMdUL5EjvSKNDnsV8VDo/7ead7236b0108c44117e615d3e049d4b/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/21rMdUL5EjvSKNDnsV8VDo/7ead7236b0108c44117e615d3e049d4b/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2S3m4MxYEDmrixDTt2W0YO/031d43286985775536b35b288a247e96/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6lzoNDe8oTr7XNkQ8HITYa/b345830d956a1001acd0a0163c483dc4/football_placeholder.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtu.be/e2uoCkSeVkw"&gt;👉Tonton Video!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2MDh1l3esaLMquMxH0IypR</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/1kECoixSFMiPreWouo2QDJ/10e49a8684fcb6e77813547d225b7fa1/BG_footballfield.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 23 May 2024 08:01:45 +0000</pubDate>
    </item>
  </channel>
</rss>
