<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Hayday - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Hayday inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Wed, 14 Aug 2024 11:28:56 +0000</lastBuildDate>
    <item>
      <title>Today's Event!</title>
      <link>hayday://OpenEventBoard</link>
      <description>&lt;br&gt;
&lt;a href="hayday://OpenEventBoard"&gt;👉More Details!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">C_cuHmmb-LEriPwwH2WQfwnsVGVO19O220gLd10AHVw</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/cRcj4pkDW6Rh5ThtDKjVYxZNHJcNMJ9ukUsj4Qvsr1w/cc11b4a0a60932be2be4732bfa32eef7/1379298962_1625649229.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 12 Sep 2023 09:48:04 +0000</pubDate>
    </item>
    <item>
      <title>Rock'n'Roll Update</title>
      <link>https://youtu.be/5LI0VZxx8gQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/5LI0VZxx8gQ"&gt;👉Watch 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7iRi7ZgyBYS1pTyBwDJNjC</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/2UqVWnBc4Fd7lGfsqWuF4r/9260298b36467bccbc7ae9df30c723e4/inbox2223.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 30 May 2024 18:59:54 +0000</pubDate>
    </item>
    <item>
      <title>Summer Events</title>
      <link>https://youtu.be/D78NHf7VRa8</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/D78NHf7VRa8"&gt;👉Watch 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5ga013S1n3gpRMisnpHXXU</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/7ws5nUjfZAuu8v0BDlPM4N/26f6ce6d42ed673f7e4a6dac6302850c/HayDay_Pool_Inbox_Carousel_860x1320.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 28 Jun 2024 07:51:57 +0000</pubDate>
    </item>
  </channel>
</rss>
