<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Wed, 22 May 2024 05:34:47 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/oUW1RPbbqJE</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/oUW1RPbbqJE"&gt;👉Brawl Talk👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2azxxVt6rp53SUtQ5J9dqz</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5ImvZ7Iw3Oxw62gqyQyS4w/eddfc79cff055ae6843b7137f034220b/0419_BT_Mutations_Pop-up_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 19 Apr 2024 12:17:08 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/78fQeeEcWMQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/78fQeeEcWMQ"&gt;👉Assistir!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1H3PSSPguxStqvTJxPyMYr</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/3nLoNEoFgc8fC7SW0osJtw/a710f59038b5b4142bbdb50667e981bb/0426_Godzilla_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 29 Apr 2024 08:02:08 +0000</pubDate>
    </item>
  </channel>
</rss>
