<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Hayday - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Hayday inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Thu, 20 Jun 2024 09:30:54 +0000</lastBuildDate>
    <item>
      <title>Evento de hoje!</title>
      <link>hayday://OpenEventBoard</link>
      <description>&lt;br&gt;
&lt;a href="hayday://OpenEventBoard"&gt;👉Saiba mais!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">C_cuHmmb-LEriPwwH2WQfwnsVGVO19O220gLd10AHVw</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/cRcj4pkDW6Rh5ThtDKjVYxZNHJcNMJ9ukUsj4Qvsr1w/cc11b4a0a60932be2be4732bfa32eef7/1379298962_1625649229.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 12 Sep 2023 09:48:04 +0000</pubDate>
    </item>
    <item>
      <title>Atualização de Rock &amp; Roll</title>
      <link>https://youtu.be/5LI0VZxx8gQ</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/5LI0VZxx8gQ"&gt;👉Assistir 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7iRi7ZgyBYS1pTyBwDJNjC</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/2UqVWnBc4Fd7lGfsqWuF4r/9260298b36467bccbc7ae9df30c723e4/inbox2223.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 30 May 2024 18:59:54 +0000</pubDate>
    </item>
    <item>
      <title>Meta de aniversário </title>
      <description>&lt;h1&gt;PROGRESS: 72.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 6 bilhões &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/76itinrSCtyZlmcwNMMJdk/3513efbad189b3f5543c1a000f840a33/inbox4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 4 bilhões &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/51wlSQakc28Ec7dKALldEk/827a468d8bdff6188a60b69e98f3f0de/inboxnew3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 2 bilhões &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/3c6XyoXB4ZjX4UunG1SdhY/6172a886f222a888646871a56101d8e1/inboxnew2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1 bilhão &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/2iVBJwGuoQeudDnKPRkDX4/011161fa52fa263def8058ec5e60d1e7/inboxnew1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="hayday://OpenDiamondShop"&gt;👉Recompensas👈&lt;/a&gt; -- &lt;a href="https://hayday.inbox.supercell.com/#/pt/news/25DbUMHi6HknPsEHm0qEZG"&gt;👉Informações👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3CZ6WobCSrlv7rOl9EVhaY</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/3nvqoScpG4tL7sFwif3E4E/81902efd9de6b6dade5d8a54feb3b010/Untitled-2_1.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 11 Jun 2024 09:35:24 +0000</pubDate>
    </item>
  </channel>
</rss>
