<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Sat, 09 Nov 2024 15:31:37 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.reddit.com/r/ClashOfClansRecruit/</link>
      <description>&lt;br&gt;
&lt;a href="https://www.reddit.com/r/ClashOfClansRecruit/"&gt;👉Visit!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">MQIjWnSkrNKu8-PNjIOWfjRM4by76fM50-UDIsI9RTY</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/tkoFJgIRWVA9TaUPzakpSv9qDIevwBHzIib1TT_p6zU/59af1afcd1d2f17ceee9c59fe174c086/en_20170908_coc_reqruit_banner-2.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 28 Sep 2023 13:26:37 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/8jf2hNiBKYs</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/8jf2hNiBKYs"&gt;👉Watch! 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3sTuYxRBZpmFo9vC3gy7rC</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Z0PIZxpgdAGQMw1HVrq3e/27bf2c489072ea93d303137d39aee660/CoC_SC020_Justice_EN_860x1320_Still_Inbox_v07_nj_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 31 Oct 2024 13:00:04 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/4g-vh2zw93w</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/4g-vh2zw93w"&gt;👉Learn More!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">23cQAkM6lRYNshIEWP3aMA</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/rMEdiMd43185ymp9lNJve/72341ed5bd72b5a9e123eb0e9037625c/Carusel-image-1320x860px-01.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 08 Nov 2024 08:05:07 +0000</pubDate>
    </item>
  </channel>
</rss>
