<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Mon, 30 Dec 2024 11:28:54 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.reddit.com/r/ClashOfClansRecruit/</link>
      <description>&lt;br&gt;
&lt;a href="https://www.reddit.com/r/ClashOfClansRecruit/"&gt;👉Visit!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">MQIjWnSkrNKu8-PNjIOWfjRM4by76fM50-UDIsI9RTY</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/tkoFJgIRWVA9TaUPzakpSv9qDIevwBHzIib1TT_p6zU/59af1afcd1d2f17ceee9c59fe174c086/en_20170908_coc_reqruit_banner-2.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 28 Sep 2023 13:26:37 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/1gM7yMvwut0</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/1gM7yMvwut0"&gt;👉Watch Now!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3jMi5hN4VXUfuSE3ByOzwj</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/7e9GovuyIdgMt1zYgXtou8/ed011b40cc4053c57fb3b141ddbd13bd/Pop_up_TEXT.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 25 Nov 2024 10:03:11 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/MVMFD105BDw</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/MVMFD105BDw"&gt;👉Watch!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3zkW3ifcM30p1DWB099CvM</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/hqQ3Ibf2P5TKGFs0GCNZi/cacf6496ad537c91081d1d55d0159c00/CoC_SC021_Clashmas_EN_860x1320_Still_Inbox_v01_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Dec 2024 08:00:06 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/KKruiSgciok</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/KKruiSgciok"&gt;👉Watch Now!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3NCu1rUiH46L1Cc4yskLpK</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/3KpfMz4Vps43Mz7UWsCETU/e9b9dd898ce8b5a24cedb8f9da21aa89/CoC_Controllable_Heroes_Popup_Text.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 04 Dec 2024 08:04:22 +0000</pubDate>
    </item>
  </channel>
</rss>
