<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Mon, 13 May 2024 20:34:29 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://www.reddit.com/r/ClashOfClansRecruit/</link>
      <description>&lt;br&gt;
&lt;a href="https://www.reddit.com/r/ClashOfClansRecruit/"&gt;👉Visit!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">MQIjWnSkrNKu8-PNjIOWfjRM4by76fM50-UDIsI9RTY</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/tkoFJgIRWVA9TaUPzakpSv9qDIevwBHzIib1TT_p6zU/59af1afcd1d2f17ceee9c59fe174c086/en_20170908_coc_reqruit_banner-2.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 28 Sep 2023 13:26:37 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 99.50%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 30M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/5Mv6oh2hN5lfBItJSOi0vr/bf7123d2ec452100b9dc8aa92815e77b/Clash-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2DjoxyEHNyklcgIR8LBCMl/6b65bddce99e5c9193c64d0a108b5fd2/Clash-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/61Pdyg4fSFwMlmIrdYDdUs/c514c6bda519c72c16503bbda433efb8/Clash-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/4eoEdIdmBiTApoQtCKfuya/7dc485f4be7963ce4873d79cfe6b24fe/Clash-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Squad Up! Pre-order Supercell's new global game!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">11hJXN7WG1gW5wTg136B9R</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Xi9jNxCFruBxWHXgwVftD/d2603348c397b9e2d3485167907be3f9/Clash-swirl.webp?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:07:25 +0000</pubDate>
    </item>
    <item>
      <title>Victory Has a Name: Haaland! </title>
      <link>https://youtu.be/YWQjWdQ6tOA</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/YWQjWdQ6tOA"&gt;👉Watch!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5Womi9S7zUeyilzRjvrRF4</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2OB2eQ82s1v4Xaq02Qiedg/c03fd5a0fc69466db6037588a525e17e/v2_carousel_9x16_Haaland.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 30 Apr 2024 05:00:50 +0000</pubDate>
    </item>
    <item>
      <title>Clash On!</title>
      <link>https://youtu.be/ULmKVebeFzg</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ULmKVebeFzg"&gt;👉WATCH NOW!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">SGcJw0R6e1V1SMgWAckD5</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6UZ89bapuCe0L9FMSHj3n5/de38a70ca3bbb9d668b8aec53b5e3886/ThumbCarrousel.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 06 May 2024 12:05:02 +0000</pubDate>
    </item>
  </channel>
</rss>
