<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Tue, 28 May 2024 13:32:37 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/en/news/7xmUmD0WYOK8o5vWLrsQlg</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/7xmUmD0WYOK8o5vWLrsQlg"&gt;👉READ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4zDV7F53jQBBlkpJ3hwiGM</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4ehEINTyb1Buez0o4mIj1c/7839e3de16761c2f52bc8d4db28abfb5/Untitled-5.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 30 Nov 2023 14:59:13 +0000</pubDate>
    </item>
    <item>
      <title>MAY SEASON</title>
      <link>https://clashroyale.inbox.supercell.com/#/en/news/2Vd5pMIios9xUcHXAytsWF</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/2Vd5pMIios9xUcHXAytsWF"&gt;👉READ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">3YwqrSnOlmZY4Z4lguIibl</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/67jyUpwT83ECTBYlDLGaM5/d319ebe0abf0418d805bc9813feae2f6/CR_S59_Season_Carousel_Image.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 06 May 2024 09:00:03 +0000</pubDate>
    </item>
  </channel>
</rss>
