<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Mon, 29 Apr 2024 07:33:25 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/en/news/7xmUmD0WYOK8o5vWLrsQlg</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/7xmUmD0WYOK8o5vWLrsQlg"&gt;👉READ👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4zDV7F53jQBBlkpJ3hwiGM</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4ehEINTyb1Buez0o4mIj1c/7839e3de16761c2f52bc8d4db28abfb5/Untitled-5.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 30 Nov 2023 14:59:13 +0000</pubDate>
    </item>
    <item>
      <title>APRIL SEASON</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/tn8Mh6cozcaC6rHY4wA96"&gt;👉READ👈&lt;/a&gt; -- &lt;a href="https://youtu.be/8pTCDhkHww4?si=VZRWdRdTMlz8YhZH"&gt;👉WATCH👈&lt;/a&gt;</description>
      <guid isPermaLink="false">57UzVLn1XwoNaNiUarJ1Ez</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/1RWBOBo6CkqQETv8KqTxi0/d62704f8f75d020a3c31582a8cfb555c/CR_S58_Season_Carousel_Image_001.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 01 Apr 2024 09:04:23 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 48.75%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - ?M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7tbUYKBnU2S8LrDIZX4tO7/09b09c2991f20c3b92ce0ed2150ece7e/Clash_royale-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - ?M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/3JEcSAqUol3WyaU9VTzMJL/01f56d0e6e648ae6cc414be002f44d13/Clash_royale-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - 5M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/43CuYLH5eMclYBfvzQavmb/6dd79043c779bad487ce0a8dd3910958/Clash_royale-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/6kpNc36B59OnJABz6cjR1B/c45d5c49badd8a0bfc32f95d89e3b7eb/Clash_royale-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Squad Up! Pre-order Supercell's new global game!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">67vMsuhYiLJDDtlRaI3bWh</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4BuKHgqfMUUHgdXhTc06Cz/a8831a51ce99b7ae0f39b848d2e0e751/royal-swirl.webp?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:03:59 +0000</pubDate>
    </item>
  </channel>
</rss>
