<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>en</language>
    <lastBuildDate>Sat, 08 Feb 2025 02:54:16 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-4/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-4/"&gt;👉ORDER NOW!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5t1cLDOuGPg7IvYlEeKFhn</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/23PlH9WssjCUKmCCPxeOSp/f0d994c152e2b6ee0560aab985f50230/DF_Clsh-Comics_Inbox_vol4DF_CLASH-COMICS_BOOKS-OF-CLASH-VOL-4-NewsTab-CR.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 08 Nov 2024 16:35:35 +0000</pubDate>
    </item>
    <item>
      <title>Balance Changes!</title>
      <link>https://clashroyale.inbox.supercell.com/#/en/news/3QzPOpdprqQdDwMIYaVAWm</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/3QzPOpdprqQdDwMIYaVAWm"&gt;👉Read more!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">FKnNlu790NS86fekFa9CI</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/61oGZepcu9nOV91vNB2Mi/8602dc259cba5c1b09c1c940d6b0715c/CR_Balance_Changes_Jan2025.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 07 Jan 2025 18:26:00 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/7pd854TczHYSpDjTE274Dz"&gt;👉Read👈&lt;/a&gt; -- &lt;a href="https://www.youtube.com/shorts/TK5jd1aDEt4"&gt;👉Watch👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7JKxPFJlcSBURsaNGhLOh2</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/EYikbEZvH83howz8UoPgW/6e89c55eacb9f782ee98d5cb1706af12/SUP4044_Season_68_Season_Carousel_Image-960x764.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 03 Feb 2025 09:00:02 +0000</pubDate>
    </item>
    <item>
      <title>Balance Changes</title>
      <link>https://clashroyale.inbox.supercell.com/#/en/news/48KbJeUO3a8c8pwDoiSjxl</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/en/news/48KbJeUO3a8c8pwDoiSjxl"&gt;👉Read more👈&lt;/a&gt;</description>
      <guid isPermaLink="false">HGlQlRYr8OUnytRjQ24SE</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/138VQSpVrVbW0CzQafSAzJ/f3c1889f2605903fe4e6f2159a48ccd0/CR_Balance_Changes_Jan2025.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 04 Feb 2025 10:00:42 +0000</pubDate>
    </item>
  </channel>
</rss>
