<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Brawlstars - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Brawlstars inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>de</language>
    <lastBuildDate>Tue, 30 Jul 2024 03:34:42 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉CyberBrawl!👈&lt;/a&gt; -- &lt;a href="https://youtu.be/3jO-O3OF5Cs"&gt;👉Ansehen!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">XQIKnrUZf9aPv8UHRN1Kh</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4bqWxQVri0EG4QIuDSP1VB/e338588cfbcc9aa33d15a0b343786145/Cyberbrawl_Season_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 06 Jun 2024 12:30:45 +0000</pubDate>
    </item>
    <item>
      <title>Freischaltung am 20. Juni!</title>
      <link>https://youtu.be/u5h4fv-0oiA</link>
      <description>&lt;h1&gt;PROGRESS: 100.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/N9skWnB4hR6kQ45NuDKMx/8d3f6473c104955ed158f9216385dea7/Brawl_1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4QUBWFM2P1nzcXPmUscwiU/d89475c724a6d0bdf1e3a362fcb1fcac/Milestone_Double_XP_CROP-1.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4vuF3kDntczQcD5tA03ajf/2d0bb0b70e03b12e793e1b66a0c88be0/Milestone_Double_XP_CROP.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ -  &lt;image src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5KdUeflfgZhexHYz8Q1Hpg/225064386dc06f8dbedc969ec2a10d55/Milestone_Double_StarrDrops_CROP.png?w=400&amp;h=360&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://youtu.be/u5h4fv-0oiA"&gt;👉Ansehen!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">30wSNahrT4nkIRvkHGhNWf</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/6lGIOfq1bP1oRjB5UyjrQ3/191c2e3fa8133e92c32cbe8a31943066/Carousel_Thumbsup_Background.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 10 Jun 2024 08:01:32 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/U0Mq3mJdwh4</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/U0Mq3mJdwh4"&gt;👉Brawl Talk!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">63gVyCaMkWHPMBMOj9sEZu</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1pumQKHOtUOpo43s8tvnqp/c4ff7fc4426877cf78ccdd3c22938a17/0620_Brawl_Talk_Classic_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 21 Jun 2024 08:35:19 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;h1&gt;Welcher ist dein Lieblingsskin für Belle?&lt;/h1&gt;
📊 [POLL]
&lt;ul&gt;
&lt;li&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/44lEHtDKjq3mMhhltaF5v8/89c67208fba5bf5260177476a0b75259/pitstop_belle.jpg?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/4qh8mseRGLuj6TKDEaFVf6/7e3e3d251cd285893b10a15921d66b41/admiral_belle.jpg?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/1Wa4G1a03gRnOmbtE5fNFx/d97b5c2a61795dc6a4bd8911e555e4a5/toxic_belle.jpg?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;&lt;img src="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/41vcoDf1qzhaguGLCidmtS/09c4ecadb03c573ac4d28122dc35833f/dragon_belle.jpg?w=300&amp;h=400&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;</description>
      <guid isPermaLink="false">240lUSWZer3cnyxiQVXhcM</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/783tSARqYBly1YYB1sFz0a/63e7795f280baeb406af4b0400f227f9/Carousel_Belle_Make.jpg?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Wed, 26 Jun 2024 07:30:09 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>brawlstars://shop</link>
      <description>&lt;br&gt;
&lt;a href="brawlstars://shop"&gt;👉Götter vs. Monster!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4PG5vmSSZXe45Opx14iihL</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/160Dad4Th25ncCz057ErH5/cda2e26ee9eb5171d9dea4d5df44262a/0702_Medusa_Emz_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 04 Jul 2024 09:30:05 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://youtube.com/shorts/HPrukYlHu94"&gt;👉Ansehen!👈&lt;/a&gt; -- &lt;a href="https://brawlstars.inbox.supercell.com/#/de/news/1EmjrgcJs2gIADXu55ZbWC"&gt;👉Mehr Infos!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4b1odm7Jp1xMcZ4SPfpF98</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/63sLzdoFQhhHTquRN7h2un/fc31acb86df63f62ecc4199ee59a26a6/loading_screen_classic_800x1161.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 12 Jul 2024 07:16:30 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/ndSA3_MOYkM?si=34XKtLI_ph7dsPsK</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ndSA3_MOYkM?si=34XKtLI_ph7dsPsK"&gt;👉Clancy!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6CWHdZwGtjKGemUPp8bnf2</guid>
      <enclosure url="https://brawlstars.inbox.supercell.com/xdjcscmv3zo3/5J0DYjRJ7VM18OONgHvIVi/a5b689c379e4f4d091f7411071286e4d/0725_Clancy_Early_Access_800x1161_v1.png?w=800&amp;h=1161&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 25 Jul 2024 07:19:26 +0000</pubDate>
    </item>
  </channel>
</rss>
