<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Hayday - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Hayday inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Sun, 28 Apr 2024 02:40:25 +0000</lastBuildDate>
    <item>
      <title>Événement du jour !</title>
      <link>hayday://OpenEventBoard</link>
      <description>&lt;br&gt;
&lt;a href="hayday://OpenEventBoard"&gt;👉Plus d'infos👈&lt;/a&gt;</description>
      <guid isPermaLink="false">C_cuHmmb-LEriPwwH2WQfwnsVGVO19O220gLd10AHVw</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/cRcj4pkDW6Rh5ThtDKjVYxZNHJcNMJ9ukUsj4Qvsr1w/cc11b4a0a60932be2be4732bfa32eef7/1379298962_1625649229.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 12 Sep 2023 09:48:04 +0000</pubDate>
    </item>
    <item>
      <title>Préinscriptions</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 35.62%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - ?M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/7iFCSP4uoEcjpe7P3iQrwJ/cdf9a3fa4262b5bd93bc6e73fcbb997f/Hayday-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - ?M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/CokXSB072zJTlL4XOySv9/8f7294da1c37013df369072df02cb2c2/Hayday-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - 5M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/5WEIaMhW8bvJKswzDR1pQn/67373768d0e84d5b37cc411921cb283a/Hayday-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/561WCDUhrOJ3bmvtXRTVB4/89fe9c5f1587eda4c652a1b091dd92a4/Hayday-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Squad, en avant ! Préinscrivez-vous au nouveau jeu Supercell !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4rxCXuIlursfgl3dALxaPh</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/DB6tEuDKIrHfjJUBQtMYj/34fb1d09a739b2e3f13eff4578c5c8f9/Hayday-swirl.webp?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:00:51 +0000</pubDate>
    </item>
    <item>
      <title>Précommandes</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 35.62%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - ?M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/3EbisKcaSENYYJnN0DI2Bu/76997abbdf2ad76149c8b1e2664802f9/Hayday-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - ?M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/5PO2z5lflasOCsevSRr6iB/427c8b5254866ec8234bdd4e2b64def5/Hayday-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;📌 - 5M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/1Jq758Z1lNdPgiXj3RN4Sw/20316820d5cf3597d6a177c3a9dc2804/Hayday-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://hayday.inbox.supercell.com/0rebc2l8z0wu/736kM830Q37MKHidj1hpsY/4f09815b919fbe5caef0861f547efab3/Hayday-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Squad, en avant ! Précommandez le nouveau jeu Supercell !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1FsnqWUFCmbdZWRzRVEVDr</guid>
      <enclosure url="https://hayday.inbox.supercell.com/0rebc2l8z0wu/DB6tEuDKIrHfjJUBQtMYj/34fb1d09a739b2e3f13eff4578c5c8f9/Hayday-swirl.webp?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:01:12 +0000</pubDate>
    </item>
  </channel>
</rss>
