<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>de</language>
    <lastBuildDate>Wed, 11 Sep 2024 05:36:06 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/ak6acH-vhvc</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/ak6acH-vhvc"&gt;👉Ansehen! 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">7dcRkF5511e0jIIBoD5iBq</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/1mjjc3VoFIqXXJUYVPEEB4/2d26609a4876c7b17330eec6a53d04b5/CoC_SC017_TTRPG_EN_860x1320_Still_Inbox_v03_NJ_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Sun, 01 Sep 2024 08:00:03 +0000</pubDate>
    </item>
    <item>
      <title>Clash On - September Update</title>
      <link>https://youtu.be/UwYW9vuJ1Ho</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/UwYW9vuJ1Ho"&gt;👉Watch Now!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">1VGw5lxE0K5R5U5IzNTN8A</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/3HGlnvEwpqcCmCaSChoPRU/611504bfdd5d14f9841b74ce66062f33/Carousel-Thumb-ClashOn.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 09 Sep 2024 08:31:51 +0000</pubDate>
    </item>
  </channel>
</rss>
