<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>ja</language>
    <lastBuildDate>Sun, 28 Jul 2024 01:49:36 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>&lt;br&gt;
&lt;a href="https://twitter.com/ClashRoyaleJP?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"&gt;👉公式チャンネル👈&lt;/a&gt; -- &lt;a href="https://youtube.com/playlist?list=PL6MG76h0c-fGmWuu60OfF5Ai7faI4DSDl"&gt;👉📺初心者講座👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5jYim56q7bEjmbndGC4Uj8</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/1yoUBy4NxJRJbTJGbAxq9V/081631c4cae71f252143308c6ce2a92e/3W_0719_CR________960x764_.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 20 Jul 2023 04:28:24 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://clashroyale.inbox.supercell.com/#/ja/news/2hvQDP7rrocMX6srU1m1ig</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ja/news/2hvQDP7rrocMX6srU1m1ig"&gt;👉記事を読む👈&lt;/a&gt;</description>
      <guid isPermaLink="false">We8OF9MzFqKi2igiv65MF</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4ehEINTyb1Buez0o4mIj1c/7839e3de16761c2f52bc8d4db28abfb5/Untitled-5.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 01 Dec 2023 08:26:30 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-3/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-3/"&gt;👉今すぐゲット！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">yB7TCmDIExMubeOewgmPH</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/7C8MqTPcLF06uqNt9rGvBk/38a800c4833e105760e52f90a5a265b6/BOC_CR_NewsTab_Vol3_NoText__1_.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Tue, 28 May 2024 17:00:03 +0000</pubDate>
    </item>
    <item>
      <title>ゴブリンクイーンのアップデート</title>
      <description>&lt;br&gt;
&lt;a href="https://www.youtube.com/watch?v=OmVCaWkbI4U"&gt;👉今すぐ見る！👈&lt;/a&gt; -- &lt;a href="https://clashroyale.inbox.supercell.com/#/ja/news/tu0og4AGbhV2bBGq074TK"&gt;👉読む！👈&lt;/a&gt;</description>
      <guid isPermaLink="false">DpYm0BKU6JZzbqCoY42Gx</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/P3mr2Ig82tnMt5tG98lIV/8a5041d1ae577fc0af0b4b5de9d4f177/CR_S60_Season_Carousel_Image_GoblinQueen.png?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Mon, 17 Jun 2024 10:12:24 +0000</pubDate>
    </item>
    <item>
      <title>7月シーズン</title>
      <link>https://clashroyale.inbox.supercell.com/#/ja/news/69IYE87M0rmGTHJ5ATFC5y</link>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/ja/news/69IYE87M0rmGTHJ5ATFC5y"&gt;👉読む👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4Bhx7SpfqnlJmkQ6n5mTw1</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/1G9dom18ofug7zRtrjiMJV/a6edc10eaf6af32ebc6c2cf31bfed48d/CR_S61_Season_Carousel_Image.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 01 Jul 2024 09:00:05 +0000</pubDate>
    </item>
  </channel>
</rss>
