<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashroyale - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashroyale inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>fr</language>
    <lastBuildDate>Fri, 22 Nov 2024 06:42:48 +0000</lastBuildDate>
    <item>
      <title>SAISON DE NOVEMBRE</title>
      <description>&lt;br&gt;
&lt;a href="https://clashroyale.inbox.supercell.com/#/fr/news/2qEDuoi4Kb7aqZ5i5LCKkD"&gt;👉LIRE👈&lt;/a&gt; -- &lt;a href="https://youtube.com/shorts/oDeRicecJgU?feature=share"&gt;👉REGARDER👈&lt;/a&gt;</description>
      <guid isPermaLink="false">6cQuXTToAQelQpDQ4rs2V6</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/4RjveS4fHFljBuj98772bt/b6546004480bc6e143c38e26c5f8cc43/SUP3965_Season_65_Season_Carousel_Image-960x764.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Mon, 04 Nov 2024 08:45:02 +0000</pubDate>
    </item>
    <item>
      <title>🗞️</title>
      <link>https://booksofclash.com/books/books-of-clash-volume-4/</link>
      <description>&lt;br&gt;
&lt;a href="https://booksofclash.com/books/books-of-clash-volume-4/"&gt;👉Commandez-le maintenant !👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5t1cLDOuGPg7IvYlEeKFhn</guid>
      <enclosure url="https://clashroyale.inbox.supercell.com/9jtsgmsiuthj/23PlH9WssjCUKmCCPxeOSp/f0d994c152e2b6ee0560aab985f50230/DF_Clsh-Comics_Inbox_vol4DF_CLASH-COMICS_BOOKS-OF-CLASH-VOL-4-NewsTab-CR.jpg?w=960&amp;h=764&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Fri, 08 Nov 2024 16:35:35 +0000</pubDate>
    </item>
  </channel>
</rss>
