<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Thu, 02 May 2024 16:36:13 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://squadbusters.com</link>
      <description>&lt;h1&gt;PROGRESS: 77.00%&lt;/h1&gt;
&lt;ul&gt;
&lt;li&gt;📌 - 30M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/5Mv6oh2hN5lfBItJSOi0vr/bf7123d2ec452100b9dc8aa92815e77b/Clash-4.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 20M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2DjoxyEHNyklcgIR8LBCMl/6b65bddce99e5c9193c64d0a108b5fd2/Clash-2.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 5M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/61Pdyg4fSFwMlmIrdYDdUs/c514c6bda519c72c16503bbda433efb8/Clash-3.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;li&gt;✅ - 1M &lt;image src="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/4eoEdIdmBiTApoQtCKfuya/7dc485f4be7963ce4873d79cfe6b24fe/Clash-1.png?w=256&amp;h=256&amp;f=center&amp;fit=fill"&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;br&gt;
&lt;a href="https://squadbusters.com"&gt;👉Faça a encomenda do novo jogo global da Supercell. Vai, esquadrão!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">11hJXN7WG1gW5wTg136B9R</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Xi9jNxCFruBxWHXgwVftD/d2603348c397b9e2d3485167907be3f9/Clash-swirl.webp?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/webp"/>
      <pubDate>Fri, 26 Apr 2024 09:07:25 +0000</pubDate>
    </item>
    <item>
      <title>A vitória tem nome: Haaland! </title>
      <link>https://youtu.be/YWQjWdQ6tOA</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/YWQjWdQ6tOA"&gt;👉Assistir👈&lt;/a&gt;</description>
      <guid isPermaLink="false">5Womi9S7zUeyilzRjvrRF4</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Rkw4DwwBuknvglDiO5Xxp/71f471ef9051d50d530b441c94b5534c/carousel_9x16_Haaland.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Tue, 30 Apr 2024 05:00:50 +0000</pubDate>
    </item>
  </channel>
</rss>
