<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Wed, 05 Jun 2024 16:37:55 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <link>https://youtu.be/PDQHFHD-k4s</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/PDQHFHD-k4s"&gt;👉Assistir 👈&lt;/a&gt;</description>
      <guid isPermaLink="false">2o2SG4aAPnPDCwmGudkVfL</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6IvpOx24nW0ohdy9WGRyIy/8d9bb6b073558cb17312356856b1390f/PT-CoC_SC015_WildWest_EN_860x1320_Still_Inbox_v02_NJ_eyestorm.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Sat, 01 Jun 2024 08:00:03 +0000</pubDate>
    </item>
  </channel>
</rss>
