<?xml version='1.0' encoding='UTF-8'?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="2.0">
  <channel>
    <title>Clashofclans - Event</title>
    <link>https://github.com/skrwo/supercell-inbox-rss/</link>
    <description>RSS wrapper of Clashofclans inbox Event</description>
    <docs>http://www.rssboard.org/rss-specification</docs>
    <generator>python-feedgen</generator>
    <language>pt</language>
    <lastBuildDate>Sun, 10 Nov 2024 13:31:03 +0000</lastBuildDate>
    <item>
      <title>🗞️</title>
      <description>[EMPTY]</description>
      <guid isPermaLink="false">3sTuYxRBZpmFo9vC3gy7rC</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/6Z0PIZxpgdAGQMw1HVrq3e/27bf2c489072ea93d303137d39aee660/CoC_SC020_Justice_EN_860x1320_Still_Inbox_v07_nj_eyestorm.jpg?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/jpeg"/>
      <pubDate>Thu, 31 Oct 2024 13:00:04 +0000</pubDate>
    </item>
    <item>
      <title>Novo Personagem?</title>
      <link>https://youtu.be/GajGrj7HLQM</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/GajGrj7HLQM"&gt;👉ASSISTA AGORA!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">4du43lu07aWYmv9KiJz2xy</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/79o760nTWkOyCSmqmEAqT3/b7d1549f3be45a8514af77878c7f3b58/MP.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Thu, 07 Nov 2024 12:10:05 +0000</pubDate>
    </item>
    <item>
      <title>MARTELOFOLIA CHEGOU!</title>
      <link>https://youtu.be/4g-vh2zw93w</link>
      <description>&lt;br&gt;
&lt;a href="https://youtu.be/4g-vh2zw93w"&gt;👉SAIBA MAIS!👈&lt;/a&gt;</description>
      <guid isPermaLink="false">23cQAkM6lRYNshIEWP3aMA</guid>
      <enclosure url="https://clashofclans.inbox.supercell.com/lqe2co20rkhw/2PRkuv6bLgykfr6yMnOK8W/5114617ec349e12e3478cc589d0a9fe9/carousel-notitle.png?w=860&amp;h=1320&amp;f=center&amp;fit=fill" length="0" type="image/png"/>
      <pubDate>Fri, 08 Nov 2024 08:05:07 +0000</pubDate>
    </item>
  </channel>
</rss>
